<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <!-- end stats -->
</head>



<body>
  {{> header}}
  {{> footer}}


  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize spring-22 about">

    <div class="selectors">
      <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
        <option value="class">Jump to section...</option>
        <option value="section-class-details">ABOUT </option>
        <option value="section-class-details">--Details & Description</option>
        <option value="section-course-of-study">--Course of Study</option>
        <option value="section-expectations">--Expectations</option>
        <option value="section-teachers">--Teachers</option>
        <option value="section-for-me">--Is this for me?</option>
        <option value="section-accessibility">--Accessibility</option>
        <option value="section-apply">APPLY NOW</option>
        <option value="section-cost">FINANCES</option>
        <option value="section-cost">--Cost of Attendence</option>
        <option value="section-scholarships">--Scholarships</option>
        <option value="section-donate">--Donate to SFPC</option>
        <option value="section-refund">--Refund Policy</option>
        <option value="section-classes">OPPORTUNITIES</option>
      </select>
    </div>





    <h4 class="breadcrumb hide-content">
      <a href="/participate.html">participate</a>
      <span class="caret"></span>
      <a href="">sessions</a>
      <span class="caret"></span>
      <a href="/sessions/spring-22" id="session-link"><span id="session-name">spring 2022</span></a>
    </h4>




    <div id="class" class="hide-content appsClosed beforeClass shell-content">


      <a class="fixed-apply hide-apply hide-appsClosed" href="{{applicationLink}}">Apply Now</a>

      <section id="section-class-details">
        <div class="grid-2">
          <h1><span id="class-name">{{name}}</span></h1>
        </div>

        <div class="grid-2 class-details">



          <img id="class-image" src="{{promoImage}}">

          <div class="details">
            <div class="labels">Teachers</div>
            <div class="labels-info" id="teachers-list">{{teachers.[0].name}} with {{teachers.[1].name}}</div>
          </div>
          <div class="details show-duringClass">
            <div class="labels">Participants</div>
            <div class="labels-info"><span tabindex="0" class="expand"><a class="link">18 participants...</a>
                <span class="expanded hide-expanded">
                  Anna Rulloda, Heidi He, Hermann Zschiegner, Hiroyuki Sakamoto, Jenna Murphy, Joanne Magbitang, Kate
                  Yourke, Ladan Bahmani, Lillian-Yvonne Bertram, Matthis Grunsky, Mauricio Román, Maya Charles, Michelle
                  Chang, Salem Abdulla, Sara K.R., Sara Martinez, Shen-Shen Wu, Thomas (Luca) Bailey and Yadira Sanchez
                  <a class="more-about-cost">learn more...</a>
                </span></span>
            </div>
          </div>
          <div class="details">
            <div class="labels">Date </div>
            <div class="labels-info">
              <span id="date">{{startDate}} to {{endDate}}</span> (<span id="number-classes">{{numberOfClasses}}</span>
              classes)
            </div>
          </div>
          <div class="details">
            <div class="labels">Time </div>
            <div class="labels-info" id="time">{{time}}
            </div>
          </div>
          <div class="details">
            <div class="labels">Location </div>
            <div class="labels-info" id="location">{{location}}</div>
          </div>
          <div class="details">
            <div class="labels">Cost </div>
            <div class="labels-info"><span id="cost">${{cost}}</span> Scholarships available <a
                class="more-about-cost">learn more...</a></div>
          </div>
          <div class="details">
            <div class="labels">Deadline </div>
            <div class="labels-info">
              <span class="hide-appsClosed">Applications open until</span>
              <span class="hide-appsOpen">Applications closed on</span>
              <span id="deadline">{{applicationEndDate}}</span>
            </div>
          </div>

          <p class="large apply hide-appsClosed">
            <a href="{{applicationLink}}" target="_blank" id="application-link">Apply Now</a>
          </p>


        </div>
      </section>

      <div class="break"></div>


      <section id="section-description">
        <div class="grid-2">
          <h1>Description </h1>
        </div>

        <div class="grid-2">
          <p>
            <!-- {{description}} -->

            <i>“All organizing is science fiction. We are bending the future, together, into something we have never
              experienced. a world where everyone experiences abundance, access, pleasure, human rights, dignity,
              freedom, transformative justice, peace. We long for this, we believe it is possible.” —adrienne maree
              brown
            </i>
            <BR><BR>
            <i>
              “Historically, pandemics have forced humans to break and imagine our world anew. This one is no different.
              It’s a portal. A gateway between one world and the next. We can choose to walk through it...or we can walk
              through lightly...ready to imagine another world, and ready to fight for it.” —Arundhati Roy
            </i>
            <BR><BR>
            It cannot be overstated how important the role reading and writing plays in opening up imaginaries from
            individual self expression to individual, collective and systemic forms of historical documentation. When we
            read and write stories about ourselves and society, we make worlds. Such stories are visceral technologies
            which contain instructions for political ideologies that terraform worlds we can learn a lot from.
            <BR><BR>
            ‘Reading into the Past / Writing into the Future’ is a portal that leads towards reading and immersing
            ourselves in the written science fiction work of black, indigenous people of colour. Now, with our backs to
            the opening edge of the portal, shall we imagine this future together? What does it feel like? What does it
            smell like? Who is it for? Join us in Reading into the Past / Writing into the Future, a tomorrow focused
            science fiction writing room, based on actual science and technology.
            <BR><BR>
            This class is an experimental writing workshop and clinic featuring instruction by Ashley Jane Lewis
            featuring guest lectures from practitioners in the fields of science and technology. Together, we’ll
            examine, digest and immerse ourselves in the fiction of writers like Octavia Butler, NK Jemison, Nnedi
            Okorafor as well as compilations like <i>Walking the Clouds: An Anthology of Indigenous Science Fiction,
              Love Beyond Body, Space and Time: An Indigenous LGBT Sci-Fi Anthology and Octavia’s Brood: Science Fiction
              Stories from Social Justice Movements.</i>
            <BR><BR>
            We’ll be joined by guest presenters from the sciences who will share facts and processes from their practice
            that will work to inspire our writing. There will be opportunities to read aloud, adjust and hone our craft
            while listening deeply to one another. The class will culminate in a live reading held softly and with great
            care over Twitch. One piece from each student will be included in a printed publication that will be made
            available after this class.
            <BR><BR>
            Please join us in this opportunity to write, read and imagine the future together.
            <BR><BR>
            No writing experience necessary, all are welcome to apply for this class.



          </p>
        </div>
      </section>

      <div class="break-noline"></div>


      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">


              <!-- <figure class="block-text test hide-test">Coming into SFPC as a programmer, I was surprised to find American Artist’s critical theory class the most intellectually challenging and rewarding of my SFPC experience. The readings and discussions helped me reexamine my long-held assumptions about technology and inspired my artistic practice. Anyone who works in technology should take this class.
                       <h4>Alex Miller, Spring 2019</h4></figure>
                       <figure class="block-text test hide-test">As someone coming from an engineering educational background, the course was one of my first experiences having critical discussions about technology, race, theory, and more in a group setting. Dark Matters was rigorous in all of the right ways and it has left a lasting impact on the way I think, research, and write.
                       <h4>Bomani Oseni McClendon, Spring 2019</h4></figure>
                       <figure class="block-text test hide-test">Taking this class gave me such a vital vocabulary and lens for looking at computing and power. American’s carefully chosen readings and the discussions we had were my introduction to talking to others about technology critically. I can’t imagine how anyone can consider a computer science education complete without understanding the topics covered in this course. A total once-in-a-lifetime experience!
                         <h4>Olivia Ross, Fall 2019</h4></figure>
                       <figure class="block-text test hide-test">It’s easy to forget that the computers, interfaces, algorithms, and hardware that are so integrated in our entityal and professional lives were made by people with inherent biases. I found Dark Matters to be invaluable in encouraging a critical mindset and discussion, and peeling back the complicated histories of some of the ubiquitous technologies that we take for granted.
                         <h4>Shelby Wilson, Fall 2019</h4></figure>
                       <figure class="block-text test hide-test">Critical Theory was eye-opening to me after having majored in computer engineering and worked in tech for a couple years. It made me rethink my relationship with technology and should be a required curriculum for anybody working with computers.
                         <h4>Francisco Rojo, Fall 2019</h4></figure> -->

              <div id="carousel-images" class="class-images after-launch">
                <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/0.jpg"></figure>
                <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/1.jpg"></figure>
                <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/2.jpg"></figure>
                <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/3.jpg"></figure>
                <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/4.jpg"></figure>
                <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/5.jpg"></figure>
                <!-- <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/6.jpg"></figure>
                         <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/7.jpg"></figure>
                         <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/8.jpg"></figure>
                         <figure class="item participate-img"><img src="/images/sessions/spring-22/classes/rpwf/9.jpg"></figure> -->
              </div>


            </div>


          </main>
        </main>

      </div>
      <!--
               <section>
                   <div class="grid-2">
                     <p>
                      <span id="test-text">You are viewing photos related to this program. Read participant <a href="#testimonials" class="testimonials">testimonials</a>.</span>
                      <span id="photos-text" class="hide-text">You are viewing participant testimonials. View <a href="#photos" class="participate-photos">photos</a> related to this program.</span>
                     </p>
                   </div>

                   <div class="grid-2">
                   </div>
               </section>
 -->


      <div class="break"></div>





      <section id="section-course-of-study">
        <div class="grid-2">
          <h1>Course of Study</h1>
        </div>

        <div class="grid-2">
          <ul id="study-list">
            <li><B>Week 1:</b> Intro and orientation
            <li><B>Week 2:</b> Guest lecture
            <li><B>Week 3:</b> Guest lecture
            <li><B>Week 4:</b> Guest lecture
            <li><B>Week 5:</b> Guest lecture
            <li><B>Week 6:</b> Reading discussion
            <li><B>Week 7:</b> Internal crit
            <li><B>Week 8:</b> Writing clinic
            <li><B>Week 9:</b> Panel with critics
            <li><B>Week 10:</b> Internal showcase

          </ul>
        </div>
      </section>

      <div class="break"></div>


      <section id="section-expectations">
        <div class="grid-2">
          <h1>Expectations</h1>
        </div>

        <div class="grid-2">
          <p>Participants will:</p>
          <ul id="expectations-list">
            <li>Read and discuss texts written by BIPOC artists, practitioners and sci-fi authors
            <li>Engage in group discussions about the prospective impact of science and technology trends as well as
              social movements that have and will continue to shape the future
            <li>Practice presenting their own work and give feedback to others
            <li>Contribute to a publication featuring original writings by participants
            <li>Perform a reading of an original work at a final showcase and publication release
          </ul>
        </div>
      </section>

      <div class="break"></div>

      <section id="section-teachers">
        <div class="grid-2">
          <h1>Meet the Teachers & Organizers</h1>
        </div>

        <div class="grid-2 class-details">


          <dl class="accordion">

            <div class="entity">
              <dt>
                <span class="bio bio-float" style="background-image: url('/images/people/ashley-jane-lewis.jpg')"
                  role="img"></span>

                <h4 id="role">teacher</h4>
                <h3>{{teachers.[0].name}} </h3>
                <div class="clear"></div>
              <dd><span class="bio" style="background-image: url('/images/people/ashley-jane-lewis.jpg')"
                  role="img"></span>
                <p>{{teachers.[0].bio}}
                  <BR><BR>
                  <i>{{teachers.[0].pronouns}}</i> · <a href="{{teachers.[0].website}}">website</a> · <a
                    href="https://instagram.com/{{teachers.[0].instagram}}">instagram</a> · <a
                    href="https://twitter.com/{{teachers.[0].twitter}}">twitter</a>
                </p>
              </dd>
              </dt>
            </div>


            <div class="entity">
              <dt>
                <span class="bio bio-float" style="background-image: url('/images/people/carey-j-flack.jpg')"
                  role="img"></span>
                <h4 id="role">assistant teacher</h4>
                <h3>{{teachers.[1].name}}</h3>

              <dd><span class="bio" style="background-image: url('/images/people/carey-j-flack.jpg')" role="img"></span>
                <p>{{teachers.[1].bio}}<BR><BR>
                  <i>{{teachers.[1].pronouns}}</i> · <a href="{{teachers.[1].website}}">website</a> · <a
                    href="https://instagram.com/{{teachers.[1].instagram}}">instagram</a> · <a
                    href="https://twitter.com/{{teachers.[1].twitter}}">twitter</a>
                </p>
              </dd>
              </dt>
            </div>




          </dl>



        </div>
      </section>

      <div class="break"></div>


      <section id="section-for-me">
        <div class="grid-2">
          <h1>Is this <span id="program-type">class</span> for me?</h1>
        </div>

        <div class="grid-2">
          <ul id="for-me-list">
            <li>You're generally interested in foresight, futurism, science fiction, visual narratives, writing,
              reading, science and technology
            <li>You're new to writing and interested in a critical introduction to science fiction
            <li>You're curious about the future and passionate about collectively ruminating on the unknown in creative
              ways
            <li>You're an artist, creative practitioner, technologist, and/or person who makes creative projects in
              their spare time who is interested in integrating writing into said practice
            <li>You're specifically interested in developing a writing practice that engages in science and technology
              from a critical perspective

          </ul>
        </div>
      </section>


      <div class="break"></div>


      {{> classBoilerplate}}



    </div>










    <script src="/outside.js"></script>
    <script src="/closed.js"></script>
    <script src="/carousel.js"></script>
    </p>

</body>

</html>