<!DOCTYPE html>
<html lang="en">

<head>
    <title>School for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="School for Poetic Computation">
    <meta name="description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/">
    <meta property="og:title" content="School for Poetic Computationn">
    <meta property="og:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/">
    <meta property="twitter:title" content="School for Poetic Computation">
    <meta property="twitter:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
    <link id="mode" rel="stylesheet" type="text/css" href="/css/sex-ed.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>



    <!-- end stats -->
</head>


<body>
      <!-- {{> header}}
      {{> footer}} -->

      <!-- <div class="crt-overlay crt-overlay-fullsize"></div> -->


      <div id="shell" class="shell">

        <a href="/sex-ed">
          <div class="header">
            <span class="logo">Ask SFPC: Sex Ed</span>
            <span class="title">Advice Queue</span>
          </div>
        </a>

        <div class="footer">
          <span class="byline">A peer-to-peer sex advice column.</span>
        </div>

<!--
              <div class="loader-content">
                  <p tabindex="0" class="large">
                    loading<span>...</span>
                  </p>
              </div> -->


        <!--<div class="selectors">
         <select id= "allSections" name ="projectChange" class="projectChange" onchange="projectFilter(this.value)">
          <option value ="allProjects">All project types...</option>
          <option value ="publicationProjects">Publications</option>
          <option value ="exhibitionProjects">Exhibitions</option>
          <option value ="eventProjects">Event Series</option>
          <option value ="sessionProjects">Special Sessions</option>
          <option value ="websiteProjects">Websites</option>
          <option value ="radioProjects">Radio</option>
        </select>
      </div> -->

<!--
        <h4 class="breadcrumb hide-content">
          <a href="/projects">projects</a>
        </h4> -->



        <div id="main" class="">


        <section id="queue" class="">



              {{#each projects}}
              <div id="{{this.[Website-Slug]}}" class="question-block" data-location="">


                    <div class="metadata">
                      <div class="submission-info">
                        Added to queue on {{#each this.[Publish Date]}}{{this}}{{/each}} · Asked by {{"Submitter Name"}}
                      </div>
                      <div class="topic">
                        {{#each this.[Topic]}} {{this}} {{/each}}
                      </div>
                    </div>

                    <div class="question">
                        <p class="excerpt">
                          <span class="three-dot">...</span>{{"Pullout quote"}}<span class="three-dot">...</span>
                        </p>

                        <p class="full-question hide">
                          <i>Dear SFPC: Sex Ed,</i> <BR><BR>
                          {{"Question"}} <BR><BR>
                          <i>— {{"Sign name"}}</i>


                            {{#if ["Response Count"].length}}
                            <span class="responses">
                              <a href="/projects/{{this.[Website-Slug]}}">View {{"Response Count"}} responses...</a>
                            </span>
                            {{else}}


                            <span class="responses-none">
                              No responses yet.
                            </span>
                            {{/if}}
                        </p>


                          <!-- <a href="/questions/{{this.[Website-Slug]}}"> -->
                    </div>


              </div>

              {{/each}}




        </section>


         <div class="break"></div>











        </div>
        </div>










<script src="sex-ed.js"></script>

<!-- <script src="/outside.js"></script>
<script src="/carousel.js"></script> -->
</p>

</body>
</html>
