<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <!-- <link href="/styles.css" rel="stylesheet"> -->
  <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
  <link id="mode" rel="stylesheet" type="text/css" href="/sex-ed.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>



  <!-- end stats -->
</head>


<body>
  <!-- {{> header}}
      {{> footer}} -->

  <!-- <div class="crt-overlay crt-overlay-fullsize"></div> -->


  <div id="shell" class="shell">

    <!-- <a href="/sex-ed"><img class="orb" src="/images/sessions/sex-ed/orb-back.png"></a> -->

    <a href="/sex-ed">
      <div class="header">
        <span class="logo">Ask SFPC: Sex Ed</span>
        <span class="title">Question</span>
      </div>
    </a>

    <div class="footer">
      <span class="byline">A peer-to-peer sex advice column.</span>
    </div>





    <div id="main" class="">


      <section id="queue" class="">

        <div id="{{this.[Website-Slug]}}" class="question-block" data-location="">


          <div class="metadata">
            <div class="submission-info">
              <span class="submitter">

                {{#if Publish-Date}}
                Posted to queue on {{#each this.[Publish-Date]}}{{this}}{{/each}}
                {{else}} ✼ Pinned to queue
                {{/if}}

                  · Asked by
                {{#if Submitter-Name}}{{Submitter-Name}} {{else}}Anonymous {{/if}}


              </span>


              · <span class="response-count">Responses: {{#if Response-Count}} {{Response-Count}} {{else}} 0 {{/if}}</a>

            </div>
            <div class="topic"> {{#each this.[Topic]}} {{this}} {{/each}}
            </div>
          </div>

          <div class="question medium">

            <p class="full-question ">
              <i>Dear SFPC: Sex Ed,</i> <BR><BR>
              {{"Question"}} <BR><BR>
              <i>— {{"Sign name"}}</i>

            </p>

          </div>

          <div class="margin-top medium star">
            <p>✼</p>
          </div>

          <div class="question medium ">

            <p class="answer ">
              <i>Dear {{"Sign name"}},</i>
            </p>
          </div>


          <div class="about">

            {{#each responses}}
            <div class="response participant small">
              <div class="response-border">
              </div>

              <div class="response-field">

                {{{this}}}
                <i>- {{@key}}</i>



              </div>
            </div>
            {{/each}}




            <div class="response columnist small">
              <div class="response-border">
              </div>

              <div class="response-field">
                <div class="submission-info"><span class="response-count">Guest Columnist Response</span></div>
                <div class="clear"></div>

                I would love to understand better the irrationality of sexual preferences. Are others puzzled by the
                incoherence in their wants and desires? In almost any other part of my life I can use reason to help me
                to pick what I want, but when it comes to sex it makes no sense! How do others deal with this?
                <BR><BR><i>— Shawné Michaelain Holloway</i>
              </div>
            </div>



            <div class="response sfpc small">
              <div class="response-border">
              </div>

              <div class="response-field">
                <div class="submission-info"><span class="response-count">Notes from SFPC: Sex Ed </span></div>
                <div class="clear"></div>

                I would love to understand better the irrati
              </div>
            </div>


            <div class="response participant small">
              <div class="response-border">
              </div>

              <div class="response-field">
                I would love to understand better the irrationality of sexual preferences. Are others puzzled by the
                incoherence in their wants and desires? In almost any other part of my life I can use reason to help me
                to pick what I want, but when it comes to sex it makes no sense! How do others deal with this?
                <BR><BR><i>— Anonymous applicant of SFPC: Sex Ed </i>
              </div>
            </div>


          </div>


        </div>



      </section>

      <div class="break"></div>











    </div>
  </div>










  <script src="sex-ed.js"></script>

  <!-- <script src="/outside.js"></script>
<script src="/carousel.js"></script> -->
  </p>

</body>

</html>
