<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link href="/css/shopify.css" rel="stylesheet" />
  <link id="mode" rel="stylesheet" type="text/css" href="/lcd.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>
  <script src="/js/fundraiser.js"></script>
  <script src="https://kit.fontawesome.com/95e6fd57f2.js" crossorigin="anonymous"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->

  <script src="/js/initShopify.js"></script>
  <script>
    initShopifyCart()

    initShopifyProduct("7864334090391", "addon-inkind-wrapper", "Donate")

  </script>
</head>


<body>
  {{> header}}
  <div id="footer" class="footer">
          <div class="mode"><button id="mode-toggle"></button></a></div>
        </div>



        <div class="website-grid grid-hide  fundraiser-winter-24">
          <div class="grid-inner fundraiser-winter-24">
          <section>
            <div class="grid-2">
              <div class="chars chars1"></div>
              <p class="large">School</p>
            </div>
            <div class="grid-2">
              <div class="chars chars2"></div>
              <p class="large">for</p>
            </div>
            <div class="grid-2">
              <div class="chars chars3"></div>
              <p class="large">Poetic</p>
            </div>
            <div class="grid-2">
              <div class="chars chars4"></div>
              <p class="large">Computation</p>
            </div>
          </section>
        </div>
        </div>

  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize projects fundraiser-winter-24">
    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>

    <div class="selectors">
      <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
        <option value="">Ways to support...</option>
        <option value="section-donate">1. Make a donation</option>
        <option value="section-member">2. Become a member</option>
        <option value="section-market">3. Buy SFPC merch</option>
        <option value="section-testimonials">4. Write a testimonial</option>
        <option value="section-share">5. Spread the word</option>
        <!-- <option value="section-follow">5. Follow our progress</option> -->

      </select>
    </div>


    <h4 class="breadcrumb  hide-content"><a href="/donate">donate</a></h4>

    <div id="market" class="market shell-content hide-content allProjects projectsDiv">
      {{!-- <section>
        <div class="grid-2">
          <div class="title-image fundraiser-23"> </div>
          <!-- <h6 class="byline">Donate</h6> -->
            <!-- <h1>2024 Fundraiser</h1> -->
          <div class="break-noline-small"></div>
        </div>
        <div class="grid-2">

          <!-- <div class="fundraiser-block">

            <div class="fundraiser-stats"> -->
              <!-- <span class="fr-left"><h6></h6><h4>days left</h4></span>
              <span class="fr-right"><h6></h6><h4>goal</h4></span> -->
            <!-- </div>
              <div class="fundraiser-goal">
                <div class="fundraiser-progress"><h6 class="left"></h6><h6 class="right"></h6></div>
                <div class="goal-right"><h6>$50,000</h6></div>

              </div>

            </div>

            <div class="break-noline-small"></div> -->

          <p>As the School for Poetic Computation approaches our 10 year anniversary, we’re prototyping a new funding model for a beautiful school. Our goal is to raise $50,000 towards two fully funded classes in 2024. We invite you to join us in creating a world where tuition-free, community funded classes are possible!

            <BR><BR><a href="#" class="jumpto-donate">Donate</a> to help us offer two classes for FREE:<BR>
          </p>

          <dl class="accordion classacc a-stewards">
            <div class="entity">

              <dt>
                <span class="bio bio-float bio-rect" style="background-image: url('images/fundraiser/winter-24/rpwf.jpg')"
                  role="img"></span>
                <h3>Reading into the Past / Writing into the Future</h3>
              <h4 id="role">with Ashley Jane Lewis</h4>
                <div class="clear"></div>
              <dd><span class="bio bio-rect" style="background-image: url('images/fundraiser/winter-24/rpwf.jpg')" role="img"></span>
                <p>This experimental sci-fi writing workshop is informed by science alongside Black and Indigenous traditions. It approaches stories as visceral technologies capable of expanding imaginaries—from individual self expression to collective and systemic forms of historical documentation.
                  <B>This is the third time we are offering this popular class and having no tuition barrier would help us prioritize Black and Indigenous applicants, who previously had the most requests for scholarship.
                  </b>
                </p>
              </dd>
              </dt>
            </div>

            <div class="entity">

              <dt>
                <span class="bio bio-float bio-rect" style="background-image: url('images/fundraiser/winter-24/hscnlp.jpg')"
                  role="img"></span>
                <h3>Human-scale Communal Natural Language Processing
                </h3>
                <h4 id="role">with Allison Parrish</h4>
                <div class="clear"></div>
              <dd><span class="bio bio-rect" style="background-image: url('images/fundraiser/winter-24/hscnlp.jpg')" role="img"></span>
                <p>This  critical coding class takes a communal approach to the subfield of AI called natural language processing. By centering the technology’s impact on people, the planet, and our creative practices, this class encourages students to think beyond its authoritarian and commercial uses.
                  <b>This is the first time we are offering a technical class about AI with a field leader who teaches at an expensive private university. We want this class to be tuition-free to remove the financial barrier to study with a thoughtful and inspirational teacher at a moment of intense public focus on AI and its social impacts.
                  </b>
                </p>
              </dd>
              </dt>
            </div>


          </dl>



          <!-- <BR><BR>
          <p>Both classes address poetic computation in complementary ways by teachers who have generously contributed interdisciplinary curricula in service of a more accessible, inclusive, and beautiful future.
</p> -->

        </div>
      </section> --}}

      <!-- <div class="break-noline"></div> -->

      <section id="section-donate"  class="stacked stacked-4">



        <div class="grid-1 featured session" >
          <div class="featured-text half long nested">
            <div class="top left-disclaimer">
              <!-- <h4 class="type"><a href="#"></a></h4> -->
              <h2 class="title"><a href="#">Support SFPC!</a></h2>

              <div class="break-noline-small hide-desk"></div>
              <!-- <p class ="small hide-desk">
                Only donations over $250 are eligible for tax deductions.
                Please <a href="https://docs.google.com/forms/d/e/1FAIpQLScGWU0-NLaQijcjMS4Vi__Mr8sFUFd4LweBCFRIbQmCrB-5Gg/viewform">fill out this form</a> with your contact info and
                <a href="https://grayarea.org/initiative/school-for-poetic-computation/" target="_blank">submit a payment</a> via our fiscal sponsor.
                <i>SFPC is fiscally sponsored by</i> <span class="sponsorlogo grayarea"></span>
              </p> -->
            </div>
            <div class="right">
              <p>
                
                School for Poetic Computation (SFPC) is a nonprofit 501(c)(3) organization for the study of art, code, hardware, and critical theory through lenses of decolonization and transformative justice. 

<p>Please consider making a tax-deductible donation to support scholarships for people who have been historically excluded from art and technology fields.</p>

<p>We need your help to increase access to learn at SFPC to create an inclusive school where no one faces a financial barrier to study.</p>

                <p>You can <a href="mailto:celine@sfpc.study">email us</a> to make a donation.</p>
                      </p><BR>
           

      

                      <!-- <dl class="accordion classacc a-stewards">
                        <div class="entity">

                          <dt>
                            <span class="bio bio-float" style="background-image: url('images/fundraiser/winter-24/rpwf.jpg')"
                              role="img"></span>
                            <h3>Reading into the Past / Writing into the Future</h3>
                          <h4 id="role" class="type">with Ashley Jane Lewis</h4>
                            <div class="clear"></div>
                          <dd><span class="bio" style="background-image: url('images/fundraiser/winter-24/rpwf.jpg')" role="img"></span>
                            <p>This experimental sci-fi writing workshop is informed by science alongside Black and Indigenous traditions. It approaches stories as visceral technologies capable of expanding imaginaries—from individual self expression to collective and systemic forms of historical documentation. This is the third time we are offering this popular class and having no tuition barrier would help us prioritize Black and Indigenous applicants, who previously had the most requests for scholarship.

                            </p>
                          </dd>
                          </dt>
                        </div>

                        <div class="entity">

                          <dt>
                            <span class="bio bio-float" style="background-image: url('images/fundraiser/winter-24/hscnlp.jpg')"
                              role="img"></span>
                            <h3>Human-scale Communal Natural Language Processing
                            </h3>
                            <h4 id="role" class="type">with Allison Parrish</h4>
                            <div class="clear"></div>
                          <dd><span class="bio" style="background-image: url('images/fundraiser/winter-24/hscnlp.jpg')" role="img"></span>
                            <p>This  critical coding class takes a communal approach to the subfield of AI called natural language processing. By centering the technology’s impact on people, the planet, and our creative practices, this class encourages students to think beyond its authoritarian and commercial uses. This is the first time we are offering a technical class about AI with a field leader who teaches at an expensive private university. We want this class to be tuition-free to remove the financial barrier to study with a thoughtful and inspirational teacher at a moment of intense public focus on AI and its social impacts.

                            </p>
                          </dd>
                          </dt>
                        </div>
                      </dl> -->



            </div>
          </div>
        </div>


        {{!-- <div class="grid-1 featured fundraiser-winter-24 session" style="margin-top: 0px !important">
          <div class="featured-text half long">
            <div class="top left-disclaimer">
              <h2 class="title"><a href="#">Tax deductible donation</a></h2>

              <div class="break-noline-small"></div>

            </div>
            <div class="right">
              <p>
                Only donations over $250 are eligible for tax deductions.
                <a href="https://grayarea.org/initiative/school-for-poetic-computation/" target="_blank">Donate</a> via our fiscal sponsor, or <a href="mailto:celine@sfpc.study">email us directly</a> to make a donation of a custom amount.
                      </p>
              <div class="break-noline-small"></div>
              <p class ="small">
                 <i>SFPC is fiscally sponsored by</i> <span class="sponsorlogo grayarea"></span>
              </p>

            </div>
          </div>
        </div> --}}



            </section>



       <!-- <div class="break-noline-small"></div> -->

      <section id="section-member" class="stacked stacked-4">
        <div class="grid-1 participate">

          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/fruit-bearer.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/donate/fruit-bearer">fruit bearer</a></h4>
                <h6 class=" Purchase">Help a teacher teach 1 session!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$1500 - $6000</span>
                    <i>or</i><BR><span id=”cost”>$150/month</span></h3>
                  <!-- <BR> <h4>or $150/month membership</h4> -->
                  <!-- <p class="item inkind" id="teaching-full"/> -->
              </div>

            </div>
          </div>

          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/space-maker.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/donate/space-maker">space maker</a></h4>
                <h6 class="Purchase">Help a participant attend 1 session!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$750 - $1200</span>
                    <i>or</i><BR><span id=”cost”>$65/month</span></h3>
                  <!-- <p class="item inkind" id="tuition-full"/> -->
              </div>

            </div>
          </div>


          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/thread-weaver.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/donate/thread-weaver">thread weaver</a></h4>
                <h6 class=" Purchase">Help a teacher teach 1 class day!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$300 - $600</span>
                    <i>or</i><BR><span id=”cost”>$25/month</span></h3>
                  <!-- <p class="item inkind" id="teaching-daily"/> -->
              </div>

            </div>
          </div>

                    <div id="/tuition-gift"
                      class="grid-4 featured tuition-gift product" data-location="
                      ">
                      <div class="featured-text">
                        <img src="https://sfpc.study/images/market/circuit-bender.jpg">
                        <div class="top">
                          <h4 class="type type-list-comma"><a href="/donate/circuit-bender">circuit bender</a></h4>
                          <!-- <h2 class="title Purchase">Circiut Bender</h2> -->
                          <h6 class="">Help a participant attend 1 class day!</h6>
                          <!-- <h6>donated by you! </h6> -->
                          <BR>
                            <h3><span id=”cost”>$120 - $150</span>
                              <i>or</i><BR><span id=”cost”>$15/month</span></h3>
                            <!-- <p class="item inkind" id="tuition-daily"/> -->
                        </div>

                      </div>
                    </div>


        </div>
      </section>



      <div class="break"></div>


      <section class="stacked stacked-4">




        <div class="grid-1 participate">


          {{#each products}}
          {{#if publish}}
          {{#eq type "Merch"}}

          {{#if fundraiser}}


          <div id="{{this.[Website-Slug]}}"
            class="grid-4 featured {{this.[Website-Slug]}} product" data-location="
            ">
            <div class="featured-text">
              <img src="{{this.[Image-URL]}}">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/store/{{this.[Website-Slug]}}">{{#each
                    this.[Tags]}} {{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}}{{/each}}</a> </h4>
                <h2 class="title {{this.[Sell-Type]}}">{{this.Name}}</h2>
                {{#if [Contributor]}}
                {{/if}}
                  <BR>
                {{#if availableForSale}}
                  {{#if totalInventory }}
                  {{#lte availableInventory 10}}
                  <h4><span>Only {{availableInventory}} left!</span></h4>
                  <BR>
                  {{/lte}}
                  {{/if}}

                  <h3><span id=”cost”>${{cost}}</span></h3>

                {{else}}

                {{#eq [selltype] "Raffle Only"}}
                <h3><span id=”cost”>Available via Raffle</span></h3>
                {{else}}
                  <h3><span id=”cost”>Out of Stock</span></h3>
                {{/eq}}


                {{/if}}
              </div>

            </div>
          </div>


          {{/if}}
          {{/eq}}
          {{/if}}
          {{/each}}




    </div>
  </section>







      <div class="break"></div>
      <section id="section-testimonials">
        <div class="grid-2">
         <h1>Testimonials</h1>
        </div>
        <div class="grid-2">
          <p> For many, SFPC leaves an impact that is hard to describe. We are grateful for our community members who have put words to their experiences.

           <a href="https://forms.gle/PvuvBQd4cmo8YL4j6" class="" target="_blank">share a testimonial...</a>
          </p>
        </div>
      </section>

      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content press-content">

              {{#each testimonials}}
              {{#eq type "General SFPC"}}
              {{#if publish}}
              <figure class="block-text test show-test">
                <span class="test-icon"> </span>{{Testimonial}}<h4>{{#if Person-Website}}
                  {{#each Person-Website}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
                  {{else}}{{Submitter}}
                   {{/if}}</h4>
              </figure>
              {{/if}}
              {{/eq}}
              {{/each}}


            </div>
          </main>
        </main>
      </div>


      <div class="break-noline"></div>

      {{!-- <section id="section-share"  class="stacked stacked-4">
        <div class="grid-1 featured fundraiser-winter-24 session">
          <div class="featured-text half thin">
            <div class="top">
              <h2 class="title"><a href="#">Share our Fundraiser</a></h2>
            </div>
            <div class="right socials">

               <p>
                 Spread the word! <span class="test-icon"></span> <a href="https://twitter.com/intent/tweet?url=https://sfpc.study/donate&text=">twitter</a>

                  <span class="test-icon"></span> <a href="https://www.facebook.com/sharer/sharer.php?u=https://sfpc.study/donate">facebook</h6></a>

                <span class="test-icon"></span> <a href="mailto:info@example.com?&subject=&cc=&bcc=&body=https://sfpc.study/donate%0A">email</a>

                <span class="test-icon"></span> forward this to a friend or family member</a>

                <span class="test-icon"></span> tell a loved one what SFPC means to you</a>

                <span class="test-icon"></span> ask your employer to match your donation</a>



             </p>
            </div>
          </div>
        </div>

      </section> --}}




  <!-- <div class="break"></div> -->

      <!-- <section id="section-follow"  class="stacked stacked-4"> -->
        <!-- <div class="fundraiser-block">

          <div class="fundraiser-stats">
            <span class="fr-left"><h6></h6><h4>days left</h4></span>
            <span class="fr-right"><h6></h6><h4>goal</h4></span>
          </div>
            <div class="fundraiser-goal">
              <div class="fundraiser-progress"><h6></h6></div>
            </div>

          </div>

          <div class="break-noline"></div> -->


        <!-- <p tabindex="0" class="large">
          Join our <a href="/newsletter">newsletter</a> to stay up to date on future
          sessions and events, and
          follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
            href="https://twitter.com/sfpc">Twitter</a>.
          Become a member on <a
            href="https://withfriends.co/school_for_poetic_computation/join">WithFriends</a>.
          Get in touch over <a href="mailto:info@sfpc.study">email</a>.
        </p> -->

      <!-- </section> -->




      <div class="break-noline"></div>
      <div class="break-endpage"></div>
    </div>
  </div>

  <script src="/outside.js"></script>
  <script src="/carousel.js"></script>
  </p>

</body>

</html>
