<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computationn">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <!-- end stats -->
</head>


<body>
  {{> header}}
  {{> footer}}
  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize about">

    <div class="selectors">
      <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
        <option value="class">Jump to section...</option>
        <option value="section-class-details">ABOUT </option>
        <option value="section-class-details">--Details & Description</option>
        <option value="section-course-of-study">--Course of Study</option>
        <option value="section-expectations">--Expectations</option>
        <option value="section-teachers">--Teachers</option>
        <option value="section-for-me">--Is this for me?</option>
        <option value="section-accessibility">--Accessibility</option>
        <option value="section-apply">APPLY NOW</option>
        <option value="section-cost">FINANCES</option>
        <option value="section-cost">--Cost of Attendence</option>
        <option value="section-scholarships">--Scholarships</option>
        <option value="section-donate">--Donate to SFPC</option>
        <option value="section-refund">--Refund Policy</option>
        <option value="section-classes">OPPORTUNITIES</option>
      </select>
    </div>





    <h4 class="breadcrumb hide-content">
      <a href="/participate.html">participate</a>
      <span class="caret"></span>
      <a href="">sessions</a>
      <span class="caret"></span>
      <a href="/sessions/{{'Session Slug'}} " id=" session-link"><span id="session-name">{{"Session Name"}}</span></a>
    </h4>




    <div id="class" class=" hide-content appsClosed beforeClass shell-content">


      <a class="fixed-apply hide-apply hide-appsClosed" href="{{applicationLink}}">Apply Now</a>

      <section id="section-class-details">
        <div class="grid-2">
          <h1><span id="class-name">
              {{name}}
            </span></h1>
        </div>

        <div class="grid-2 class-details">



          <img id="class-image" src="{{promoImage}}">

          <div class="details">
            <div class="labels">Teachers</div>
            <div class="labels-info" id="teachers-list">{{#each teachers}}{{this.Name}}{{#unless
              @last}}, {{/unless}}{{/each}}
            </div>
          </div>
          <div class="details">
            <div class="labels">Date </div>
            <div class="labels-info">
              <span id="date">{{startDate}} to {{endDate}}</span> (<span id="number-classes">{{numberOfClasses}}</span>
              classes)
            </div>
          </div>
          <div class="details">
            <div class="labels">Time </div>
            <div class="labels-info" id="time">{{time}}
            </div>
          </div>
          <div class="details">
            <div class="labels">Location </div>
            <div class="labels-info" id="location">{{location}}</div>
          </div>
          <div class="details">
            <div class="labels">Cost </div>
            <div class="labels-info"><span id="cost">${{cost}}</span> Scholarships available <a
                class="more-about-cost">learn more...</a></div>
          </div>
          <div class="details">
            <div class="labels">Deadline </div>
            <div class="labels-info">
              <span class="hide-appsOpen">Applications {{#if applicationsOpen}}closed on {{else}}open
                until{{/if}}</span>
              <span id="deadline">{{applicationEndDate}}</span>
            </div>
          </div>

          <p class="large apply hide-appsClosed">
            <a href="{{applicationLink}}" target="_blank" id="application-link">Apply Now</a>
          </p>


        </div>
      </section>

      <div class="break"></div>


      <section id="section-description">
        <div class="grid-2">
          <h1>Description </h1>
        </div>

        <div class="grid-2">
          <p style="white-space:pre-line">
            {{trim description}}
          </p>
        </div>
      </section>



      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">
              <div id="carousel-images" class="class-images after-launch">
                {{#each promoImages}}
                <figure class="item participate-img"><img src="{{this}}">
                </figure>
                {{/each}}
              </div>


            </div>


          </main>
        </main>

      </div>

      <div class="break"></div>

      <section id="section-teachers">
        <div class="grid-2">
          <h1>Meet the Teachers</h1>
        </div>

        <div class="grid-2 class-details">


          <dl class="accordion">
            {{#each teachers}}
            {{>personCard person=this}}
            {{/each}}




          </dl>
        </div>

      </section>
      <div class="break"></div>
      {{#if guests}}
      <section id="section-guests">
        <div class="grid-2">
          <h1>Guest Teachers and Visiting Artists</h1>
        </div>

        <div class="grid-2 class-details">


          <dl class="accordion">
            {{#each guests}}
            {{>personCard person=this}}
            {{/each}}




          </dl>
        </div>
      </section>

      <div class="break"></div>
      {{/if}}
      {{#each pageContent}}

      <section id="section-{{dashcase @key}}">
        <div class="grid-2">
          <h1>{{@key}}</h1>
        </div>

        <div class="grid-2">
          {{{this}}}
        </div>
      </section>

      <div class="break"></div>

      {{/each}}




      {{> classBoilerplate}}




    </div>










    <script src="/outside.js"></script>
    <script src="/carousel.js"></script>
    <script src="/closed.js"></script>
    </p>

</body>

</html>