<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">
  <style>
    .funder-logo {
      width: 200px;
      margin: 10px;
      display:inline-block
    }
    .ford {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  </style>


  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>
  <style>
    .a-stewards{
          display: flex;
    flex-direction: column;
    gap: calc(var(--body-margin) / 2);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
    .a-stewards .entity {
      padding: 20px 0px;
    }
    .a-stewards dt {
    border-radius: var(--border-rad);
    padding: var(--program-margin);
    /* margin-bottom: var(--body-margin); */
    cursor: pointer;
    font-family: var(--main-special-font);
    }
    .a-stewards dd {
      margin-inline-start: 20px;
    }
    .a-stewards h3 {
      font-family: var(--main-special-font);
    }
    .a-stewards .entity dd p {
      margin-bottom:0px;
    }
    .entity dd .bio {
      margin: 0px;
      margin-right:20px;
      width:100px;
      height:100px;
    }
  </style>

  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>

<body>
  {{> header}}
  {{> footer}}

  <div class="crt-overlay crt-overlay-fullsize"></div>


  <div id="shell" class="shell shell-fullsize animsition about sfpc">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <div class="selectors">
      <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
        <option value="">Jump to section...</option>
        <option value="mission">Mission</option>
        <option value="staff">Staff</option>
        <option value="donors">Supporters</option>
        <option value="contact">Contact Us</option>
        <option value="about-our-website">About our Website</option>
      </select>
    </div>

    <h4 class="breadcrumb  hide-content"><a href="/about">about</a></h4>




    <div id="about" class="hide-content shell-content">

      <section id="mission">
        <div class="grid-2">
          <h1 class="">Mission</h1>
        </div>

        <div class="grid-2">
          <p>
            School for Poetic Computation (SFPC) is an experimental school in New York and online founded in 2013. SFPC facilitates the study of art, code, hardware, and critical theory through lenses of decolonization and transformative justice. SFPC offers programs grounded in solidarity across social differences and empowerment through a deeper technical and political understanding of tools towards building just communities.

            <BR><BR>
            Our school is a platform for people who are Black, Indigenous, of color, trans, gender non-conforming,
            queer, disabled, survivors, from low-income backgrounds, and oppressed to feel empowered
            that their ideas are important, necessary, and central.
          </p>
          <!-- <p>
                              The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It is a place for unlearning and learning.
                            </p>
                            <p>We are committed to realizing the vision of a beautiful school where people who are Black, Indigenous, Disabled, and/or LGBTQIA+ are empowered to share their ideas and study together.
                            </p> -->
          <!-- <p>
                              <a href="about-mission.html">more about our mission, pedagogy and how we define poetic computation...</a>
                              </p> -->
        </div>
      </section>

      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">

              {{#each testimonials}}
              {{#eq type "General SFPC"}}
              {{#if publish}}
              <figure class="block-text test hide-test">
                <span class="test-icon"> </span>{{Testimonial}}<h4>{{#if Person-Website}}
                  {{#each Person-Website}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
                  {{else}}{{Submitter}}
                  {{/if}}</h4>
              </figure>
              {{/if}}
              {{/eq}}
              {{/each}}

              <div id="carousel-images">
                <figure class="item participate-img pi1"><img src=""></figure>
                <figure class="item participate-img pi2"><img src=""></figure>
                <figure class="item participate-img pi3"><img src=""></figure>
                <figure class="item participate-img pi4"><img src=""></figure>
                <figure class="item participate-img pi5"><img src=""></figure>
                <figure class="item participate-img pi6"><img src=""></figure>
                <figure class="item participate-img pi7"><img src=""></figure>
                <figure class="item participate-img pi8"><img src=""></figure>
              </div>


            </div>


          </main>
        </main>

      </div>

      <section>
        <div class="grid-2">
          <p>
            <span id="test-text">You are viewing photos from past sessions. Read participant <a href="#testimonials"
                class="testimonials">testimonials</a>.</span>
            <span id="photos-text" class="hide-text">You are viewing participant testimonials. View <a href="#photos"
                class="participate-photos">photos</a> from past sessions.</span>
          </p>
        </div>

        <div class="grid-2">
        </div>
      </section>


      <div class="break"></div>

      <section id="staff">
        {{!-- <div class="grid-2">
          <h1>Stewards </h1>
        </div>

        <div class="grid-2">
          <p>
            Our school is cooperatively stewarded by artists, teachers, and creative practitioners who are engaged and
            self-motivated in communities of practice spanning art, computation, poetry, critical theory, publishing and
            community organizing.
            Every co-director was once a lead teacher, assistant teacher, student-participant, or a combination! We
            continue to occupy those roles as we direct our school.

          </p> --}}
          <!-- <p>
                              <a href="about-cooperative.html">more about our cooperative leadership structure...</a>
                              </p> -->

          {{!-- <div class="break-noline"></div> --}}
<div class="grid-2">
          <h1>Co-Directors</h1> <BR>


          <dl class="a-stewards">
            <div class="entity">
              <dd><span class="bio" style="background-image: url('images/people/todd-anderson.jpg')" role="img"></span>
                <h4 id="role">Co-Director</h4>
                <h3>Todd Anderson</h3>
                
                <p>
                  <i>he/him</i> · <a href="mailto:todd@sfpc.study">email</a> 
                </p>
              </dd>
            </div>
            
            <div class="entity">

              <dd><span class="bio" style="background-image: url('images/people/neta-bomani.jpg')" role="img"></span>

                <h4 id="role">Co-Director</h4>
                <h3>Neta Bomani </h3>
                <p>
                  <i>any pronouns</i> · <a href="mailto:neta@sfpc.study">email</a>
                </p>
              </dd>
            </div>
            
            
            <div class="entity">
              <dd><span class="bio" style="background-image: url('images/people/celine-wong-katzman.jpg')"
                  role="img"></span>
                  <h4 id="role">Co-Director</h4>
                <h3>Celine Wong Katzman </h3>
                <p> <i>she/her</i> · <a href="mailto:celine@sfpc.study">email</a>

                </p>
              </dd>
            </div>

          </dl>
          <br><br>
    </div>
<div class="grid-2">
          <h1>Staff</h1> <BR>


          <dl class="a-stewards">
            
            <!--<div class="entity">
              <dd><span class="bio" style="background-image: url('images/people/essie-leso.jpeg')" role="img"></span>
                              <h4 id="role">Community Services Coordinator</h4>
                <h3>Essie Leso</h3>
               <p>
                  <i>they/them</i> · <a href="mailto:es@sfpc.study">email</a>
                </p>
              </dd>
            </div>-->

            <div class="entity">
              <dd><span class="bio" style="background-image: url('images/people/sara-martínez.jpg')" role="img"></span>
                              <h4 id="role">Communications Manager</h4>
                <h3>Sara Martínez</h3>
                <p>
                  <i>she/her</i> · <a href="mailto:sara@sfpc.study">email</a> 
                </p>
              </dd>
            </div>

          </dl>
          
        </div>




</section>
<div class="break-noline"></div>
<section>
            <div class="grid-2">
                        <h6>Board of Directors</h6> <BR>
          <p>American Artist<br>
          Salome Asega<br> 
          Tega Brain<br> 
          Taylor Levy<br>
          Che-Wei Wang<br>
          Galen Macdonald</p>
            </div>
            <div class="grid-2">
              <h6>Past leaders, advisors and stewards</h6>
              <p>
                Zainab Aliyu, Max Bittker, Emma Rae Bruml, Luke Demarest, Lauren Gardner, Casey Gollan, Nabil Hassein, Melanie Hoff, Tiri Kananuruk, Galen Macdonald, Sebastian Morales Prado 
              </p>
              <p>SFPC was founded by Taeyoon Choi, Zach Lieberman, Jen Lowe and Amit Pitaru</p>

          </div>





      
      </section>


      <div class="break"></div>


      <section id="donors">
        <div class="grid-2">
          <h1> Supporters</h1>
        </div>

        <div class="grid-2">
          <p class="medium">We’re thankful for our generous supporters:</p>
          <img src="images/funder_logos/ford.png" alt="Ford Foundation" class="funder-logo invert ford">
          <img src="images/funder_logos/a4j.png" alt="Art for Justice" class="funder-logo">
         <p class="medium">
          Galen MacDonald, Jeffrey Alan Scudder, Maya Man<br>
          </p>
  <p>...and many others! <3</p>
          <br>
          <p>
            <a href="/donate" target="_blank">Join in supporting School for Poetic Computation</a>
          </p>

        </div>
      </section>

      {{!-- <div class="break"></div>

      <section id="press">
        <div class="grid-2">
          <h1>Press</h1>
        </div>

        <div class="grid-2">
          <p>
            We’re open to sharing our story with others. For press inquiries, please <a
              href="mailto:info@sfpc.study">contact us</a>.
          </p>
        </div>
      </section> --}}

      {{!-- <div class="grid-container">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items3 carousel-content press-content">

              {{#each presses}}
              <figure class="block-text show-test">
                <span class="test-icon"> </span>{{Quote}} <h4><a href="{{URL}}" target="_blank">{{Publisher}}</a></h4>
              </figure>
              {{/each}}

            </div>


          </main>
        </main>

      </div>
 --}}






      <div class="break"></div>

      <section id="contact">
        <div class="grid-2">
          <h1 class="">Contact Us</h1>
        </div>

        <div class="grid-2">
          
          <div class="class-details">

            <div class="details">
              <div class="labels">email </div>
              <div class="labels-info">
                General inquires: <BR> <a href="mailto:info@sfpc.study">info@sfpc.study</a>
                <BR><BR>
                Admissions inquiries: <BR> <a href="mailto:admissions@sfpc.study">admissions@sfpc.study</a>
              </div>
            </div> <BR>
            <div class="details">
              <div class="labels">instagram </div>
              <div class="labels-info">
                <a href="https://instagram.com/sfpc_nyc">@sfpc_nyc</a>
              </div>
            </div>

            <div class="details">
              <div class="labels">twitter </div>
              <div class="labels-info">
                <a href="https://twitter.com/sfpc">@sfpc</a>
              </div>
            </div>

            <div class="details">
              <div class="labels">Are.na</div>
              <div class="labels-info">
                <a href="https://www.are.na/school-for-poetic-computation">@school-for-poetic-computation</a>
              </div>
            </div>

            <div class="details">
              <div class="labels">newsletter </div>
              <div class="labels-info">
                <a href="/newsletter">join our newsletter</a>
              </div>
            </div>






          </div>


        </div>


    </div>
    </section>
      <div class="break"></div>
      <section id="about-our-website">
        <div class="grid-2">
          <h1 class="">About our Website</h1>
        </div>

        <div class="grid-2">
          <p>
            Our website was designed by <a href="https://zai.zone">Zainab Aliyu</a> and built with <a
              href="https://toddwords.com">Todd Anderson</a>.
            It is fully keyboard accessible for non-mouse users. It is typeset in Hershey Noailles and Courier. <br><BR>
            Read more about the creative direction of our website <a
              href="https://sfpc.study/blog/new-website">here</a>.
          </p>
        </div>
      </section>
    <div class="break-endpage"></div>



  </div>





  <script src="/outside.js"></script>
  <script src="/closed.js"></script>
  <script src="/carousel.js"></script>


</body>

</html>
