<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link href="/css/shopify.css" rel="stylesheet" />
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>
  <script src="/js/fundraiser.js"></script>
  <script src="https://kit.fontawesome.com/95e6fd57f2.js" crossorigin="anonymous"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->

  <script src="/js/initShopify.js"></script>
  <script>
    initShopifyCart()

    initShopifyProduct("7864334090391", "addon-inkind-wrapper", "Donate")

  </script>
</head>


<body>
  {{> header}}
  <div id="footer" class="footer">
          <div class="mode"><button id="mode-toggle"></button></a></div>
        </div>



        <div class="website-grid grid-hide  fundraiser-winter-23">
          <div class="grid-inner fundraiser-winter-23">
          <section>
            <div class="grid-2">
              <div class="chars chars1"></div>
              <p class="large">School</p>
            </div>
            <div class="grid-2">
              <div class="chars chars2"></div>
              <p class="large">for</p>
            </div>
            <div class="grid-2">
              <div class="chars chars3"></div>
              <p class="large">Poetic</p>
            </div>
            <div class="grid-2">
              <div class="chars chars4"></div>
              <p class="large">Computation</p>
            </div>
          </section>
        </div>
        </div>

  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize projects fundraiser-winter-23">
    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>

    <div class="selectors">
      <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
        <option value="">How to contribute...</option>
        <option value="section-donate">1. Make a donation</option>
        <option value="section-member">2. Become a member</option>
        <option value="section-market">3. Shop the market</option>
        <option value="section-testimonials">4. Write a testimonial</option>
        <option value="section-share">5. Spread the word</option>
        <option value="section-follow">6. Follow our progress</option>



      </select>
    </div>


    <h4 class="breadcrumb  hide-content"><a href="/fundraiser">fundraiser</a></h4>

    <div id="market" class="market shell-content hide-content allProjects projectsDiv">
      <section>
        <div class="grid-2">
          <div class="title-image fundraiser-23"> </div>
          <!-- <h6 class="byline">Winter 2023</h6> -->
          <div class="break-noline"></div>
        </div>
        <div class="grid-2">
          <div class="fundraiser-block">

            <div class="fundraiser-stats">
              <span class="fr-left"><h6></h6><h4>days left</h4></span>
              <span class="fr-right"><h6></h6><h4>goal</h4></span>
            </div>
              <div class="fundraiser-goal">
                <div class="fundraiser-progress"><h6></h6></div>
              </div>

            </div>

            <div class="break-noline-small"></div>

          <p>In an effort to build an alternative financial framework for continuing education and to establish a practice of mutual aid and reciprocity, we’ve founded our first annual Winter Community Fundraiser to provide resources back into the SFPC community and ensure that no one is ever barred from our program due to their inability to pay.<p>
            <a href="/blog/fundraiser-winter-23">learn more...</a>
          </p>

        </div>
      </section>

      <!-- <div class="break-noline"></div> -->

      <section id="section-donate"  class="stacked stacked-4">
        <div class="grid-1 featured fundraiser-winter-23 session">
          <div class="featured-text half long">
            <div class="top left-disclaimer">
              <!-- <h4 class="type"><a href="#"></a></h4> -->
              <h2 class="title"><a href="#">One-time Donation</a></h2>

              <div class="break-noline-small hide-desk"></div>
              <p class ="small hide-desk">
                Only donations over $250 made <a href="https://grayarea.org/initiative/school-for-poetic-computation/" target="_blank">here</a> via our fiscal sponsor are eligible for tax deductions.
                <i>SFPC is fiscally sponsored by</i> <span class="sponsorlogo grayarea"></span>
              </p>
            </div>
            <div class="right">
              <p>
                Make a one-time donation or <a href="https://withfriends.co/school_for_poetic_computation/join/:membership_id=11349962" target="_blank" class="small-link">become a member</a>
                   on WithFriends starting at <span id="cost">$5/month</span>.
                   <!-- Select a one-time donation amount: -->
                   <!-- Make a tax deductible donation over $250 via our fiscal sponsor <a href="https://grayarea.org/initiative/school-for-poetic-computation/" target="_blank">here</a>. -->
              </p><BR>
              <p class="small">Select donation amount:</p>
              <p class="item inkind" id="addon-inkind-wrapper"/>
              <div class="break-noline-small hide-mobile"></div>
              <p class ="small hide-mobile">
                Only donations over $250 made <a href="https://grayarea.org/initiative/school-for-poetic-computation/" target="_blank">here</a> via our fiscal sponsor are eligible for tax deductions.
                <i>SFPC is fiscally sponsored by</i> <span class="sponsorlogo grayarea"></span>
              </p>

                              <!-- <span class="addon" id="addon-inkind-wrapper"/> -->
            </div>
          </div>
        </div>

      </section>

       <!-- <div class="break-noline-small"></div> -->

      <section id="section-member" class="stacked stacked-4">
        <div class="grid-1 participate">

          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/circuit-bender.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/circuit-bender">circuit bender</a></h4>
                <!-- <h2 class="title Purchase">Circiut Bender</h2> -->
                <h6 class="">Help a participant attend 1 class day!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$120 - $150</span>
                    <i>or</i><BR><span id=”cost”>$15/month</span></h3>
                  <!-- <p class="item inkind" id="tuition-daily"/> -->
              </div>

            </div>
          </div>
          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/thread-weaver.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/thread-weaver">thread weaver</a></h4>
                <h6 class=" Purchase">Help a teacher teach 1 class day!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$300 - $600</span>
                    <i>or</i><BR><span id=”cost”>$25/month</span></h3>
                  <!-- <p class="item inkind" id="teaching-daily"/> -->
              </div>

            </div>
          </div>
          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/space-maker.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/space-maker">space maker</a></h4>
                <h6 class="Purchase">Help a participant attend 1 session!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$750 - $1200</span>
                    <i>or</i><BR><span id=”cost”>$65/month</span></h3>
                  <!-- <p class="item inkind" id="tuition-full"/> -->
              </div>

            </div>
          </div>
          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/fruit-bearer.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/fruit-bearer">fruit bearer</a></h4>
                <h6 class=" Purchase">Help a teacher teach 1 session!</h6>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$1500 - $6000</span>
                    <i>or</i><BR><span id=”cost”>$150/month</span></h3>
                  <!-- <BR> <h4>or $150/month membership</h4> -->
                  <!-- <p class="item inkind" id="teaching-full"/> -->
              </div>

            </div>
          </div>


        </div>
      </section>

      <div class="break"></div>
      <section id="section-market">
        <div class="grid-2">
         <h1>Community Market</h1>
        </div>
        <div class="grid-2">
          <p>Artists within the SFPC community have donated a wealth of objects, art, prints, ephemera, gadgets, merchandise and more, which you can purchase. All proceeds from purchases made in our community market will go directly towards the Community Fundraiser.</p>
        </div>
      </section>
      <div class="break-noline-small"></div>
      <section id="section-market" class="stacked stacked-4">
        <div class="grid-1 participate">

          {{#each products}}

          {{#if publish}}

          {{else}}

          {{#eq [selltype] "Donation"}}

          {{else}}
          <div id="{{this.[Website-Slug]}}"
            class="grid-4 featured {{this.[Website-Slug]}} product" data-location="
            ">
            <div class="featured-text">
              <img src="{{this.[Image-URL]}}">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/{{this.[Website-Slug]}}">{{#each
                    this.[Product-Type]}} {{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}}{{/each}}</a></h4>
                <h2 class="title {{this.[Sell-Type]}}">{{this.Name}}</h2>
                {{#eq [type] "Raffle"}}
                <h6>enter a raffle for a chance to win any of 6 special items!</h6>
                {{/eq}}
                {{#if [Contributor]}}
                  <h6>donated by {{Contributor}} </h6>
                {{/if}}
                  <BR>
                {{#if availableForSale}}
                  {{#if totalInventory }}
                  {{#gt totalInventory 0 }}
                  {{#lte availableInventory 10}}
                  {{#gt availableInventory 0 }}

                  <h4><span>Only {{availableInventory}} left!</span></h4>
                  <BR>
                  {{/gt}}
                  {{/lte}}
                  {{/gt}}
                  {{/if}}

                  <h3><span id=”cost”>${{cost}}</span></h3>



                {{else}}

                {{#eq [selltype] "Raffle Only"}}
                <h3><span id=”cost”>Available via Raffle</span></h3>
                {{else}}
                  <h3><span id=”cost”>Out of Stock</span></h3>
                {{/eq}}


                {{/if}}
              </div>

            </div>
          </div>
          {{/eq}}

          {{/if}}

          {{/each}}


          {{#each products}}

          {{#if publish}}
          <div id="{{this.[Website-Slug]}}"
            class="grid-4 featured {{this.[Website-Slug]}} product" data-location="
            ">
            <div class="featured-text">
              <img src="{{this.[Image-URL]}}">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/{{this.[Website-Slug]}}">{{#each
                    this.[Product-Type]}} {{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}}{{/each}}</a></h4>
                <h2 class="title {{this.[Sell-Type]}}">{{this.Name}}</h2>
                {{#if [Contributor]}}
                  <h6>donated by {{Contributor}} </h6>
                {{/if}}
                  <BR>
                {{#if availableForSale}}
                  {{#if totalInventory }}
                  {{#lte availableInventory 10}}
                  <h4><span>Only {{availableInventory}} left!</span></h4>
                  <BR>
                  {{/lte}}
                  {{/if}}

                  <h3><span id=”cost”>${{cost}}</span></h3>



                {{else}}

                {{#eq [selltype] "Raffle Only"}}
                <h3><span id=”cost”>Available via Raffle</span></h3>
                {{else}}
                  <h3><span id=”cost”>Out of Stock</span></h3>
                {{/eq}}


                {{/if}}
              </div>

            </div>
          </div>
          {{/if}}
          {{/each}}

        </div>
      </section>






      <div class="break"></div>
      <section id="section-testimonials">
        <div class="grid-2">
         <h1>Testimonials</h1>
        </div>
        <div class="grid-2">
          <!-- <p>
           Our community
          </p> -->
          <p>
           <a href="https://forms.gle/PvuvBQd4cmo8YL4j6" class="" target="_blank">share a testimonial...</a>
          </p>
        </div>
      </section>
      <!-- <div class="break-noline-small"></div> -->

      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content press-content">

              {{#each testimonials}}
              {{#eq type "General SFPC"}}
              {{#if publish}}
              <figure class="block-text test show-test">
                <span class="test-icon"> </span>{{Testimonial}}<h4>{{#if Person-Website}}
                  {{#each Person-Website}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
                  {{else}}{{Submitter}}
                   {{/if}}</h4>
              </figure>
              {{/if}}
              {{/eq}}
              {{/each}}


            </div>
          </main>
        </main>
      </div>


      <div class="break-noline"></div>

      <section id="section-share"  class="stacked stacked-4">
        <div class="grid-1 featured fundraiser-winter-23 session">
          <div class="featured-text half thin">
            <div class="top">
              <h2 class="title"><a href="#">Share our Fundraiser</a></h2>
            </div>
            <div class="right socials">

               <p>
                 Spread the word! <span class="test-icon"></span> <a href="https://twitter.com/intent/tweet?url=https://sfpc.study/fundraiser&text=">twitter</a>

                  <span class="test-icon"></span> <a href="https://www.facebook.com/sharer/sharer.php?u=https://sfpc.study/fundraiser">facebook</h6></a>

                <span class="test-icon"></span> <a href="mailto:info@example.com?&subject=&cc=&bcc=&body=https://sfpc.study/fundraiser%0A">email</a>

                <span class="test-icon"></span> forward this to a friend or family member</a>

                <span class="test-icon"></span> tell a loved one what SFPC means to you</a>

                <span class="test-icon"></span> ask your employer to match your donation</a>



             </p>
            </div>
          </div>
        </div>

      </section>

      <div class="break"></div>



      <section id="section-follow"  class="stacked stacked-4">
        <div class="fundraiser-block">

          <div class="fundraiser-stats">
            <span class="fr-left"><h6></h6><h4>days left</h4></span>
            <span class="fr-right"><h6></h6><h4>goal</h4></span>
          </div>
            <div class="fundraiser-goal">
              <div class="fundraiser-progress"><h6></h6></div>
            </div>

          </div>

          <div class="break-noline"></div>


        <p tabindex="0" class="large">
          As we work towards our goal, follow along to see spotlights on items in the community market, testimonials from participants and teachers, progress updates, plus some special surprises!

          Join our <a href="https://stats.sender.net/forms/e09QVa/view">newsletter</a> to stay up to date on future
          sessions and events, and
          follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
            href="https://twitter.com/sfpc">Twitter</a>.
          Become a member on <a
            href="https://withfriends.co/school_for_poetic_computation/join">WithFriends</a>.
          Get in touch over <a href="mailto:info@sfpc.study">email</a>.
        </p>

      </section>

<div class="break"></div>

      <section id="section-market">
        <div class="grid-2">
         <h1>A big thank you to…</h1>
        </div>
        <div class="grid-2">
          <p>We’re endlessly grateful for our generous donors and Withfriends members for supporting scholarships in such a direct way. Gratitude for our community —past, present, and future, for our supporters, for those with curiosity who take a leap into this space, for the teachers, participants, and everyone in between.
          </p>
           <h6>Credits and acknowledgements</h6>
            <ul>
              <li><b>Organizers:</b> Che-Wei Wang, Galen Macdonald, Melanie Hoff, Neta Bomani, Tega Brain
<li><b>Community Market donors:</b> American Artist, ann haeyoung, Carolyn AHearn, Chang Yuchen 常羽辰, Char Stiles, CW&T, Cy X of Pleasure Ceremony, emma rae bruml norton, Fern Goldfarb Ramallo, Galen Macdonald, Herdimas Anggara, Ida Benedetto, Ishac Bertran, Jackie Liu, Jer Thorp, Jie Qi, Juan Miguel Marin, Kameelah Janan Rasheed, Liza Stark, Luke Demarest, Matt Jacobson, Maya Man, Meghna Dholakia, Mindy Seu, MORAKANA (Tiri Kananuruk and Sebastian Morales), Neta Bomani, Paola Antonelli, Paul Soulellis, Ritu Ghiya, Ruha Benjamin, Runway, Ryan C. Clarke, Samantha Griffith, labr (Sam Lavigne & Tega Brain), Shannon Finnegan, Shiraz Abdullahi Gallab, Simone Browne, Space Type (Lynne Yun & Kevin Yeh), SPACEFILLER (Alex Miller), Surya Mattu, The Coding Train, Tiny Tech Zines, Zainab Aliyu
<li><b>Design and web development:</b> Space Type, Zainab Aliyu
<li><b>Editorial:</b> Kate Silzer, Neta Bomani
<li><b>Advisors:</b> Legacy Russell, Makayla Bailey, Momo Ishiguro
<li><b>Former founders and administrators:</b> Amit Pitaru, Jen Lowe, Taeyoon Choi, Zach Lieberman; Casey Gollan, Lauren Gardner
<li><b>Fiscal sponsor:</b> <span class="sponsorlogo grayarea"></span>
</ul>


        </div>
      </section>





     <!-- <section>
         <div class="grid-2">
           <p>
            <a href="https://forms.gle/PvuvBQd4cmo8YL4j6" class="" target="_blank">share a testimonial...</a>
           </p>
         </div>

         <div class="grid-2">
         </div>
     </section> -->


      <!-- <div class="break"></div> -->
      <div class="break-noline"></div>
      <div class="break-endpage"></div>
    </div>
  </div>

  <script src="/outside.js"></script>
  <script src="/carousel.js"></script>
  </p>

</body>

</html>
