<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link href="/css/shopify.css" rel="stylesheet" />
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->

  <script src="/js/initShopify.js"></script>
  <script>
    initShopifyCart()

    initShopifyProduct("7864334090391", "addon-inkind-wrapper")
  </script>
</head>


<body>
  {{> header}}

  <div id="footer" class="footer">
          <div class="mode"><button id="mode-toggle"></button></a></div>
        </div>



        <div class="website-grid grid-hide  fundraiser-winter-23">
          <div class="grid-inner fundraiser-winter-23">
          <section>
            <div class="grid-2">
              <div class="chars chars1"></div>
              <p class="large">School</p>
            </div>
            <div class="grid-2">
              <div class="chars chars2"></div>
              <p class="large">for</p>
            </div>
            <div class="grid-2">
              <div class="chars chars3"></div>
              <p class="large">Poetic</p>
            </div>
            <div class="grid-2">
              <div class="chars chars4"></div>
              <p class="large">Computation</p>
            </div>
          </section>
        </div>
        </div>


  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize projects fundraiser-winter-23">
    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>

    <h4 class="breadcrumb  hide-content"><a href="">support us</a></h4>

    <div id="market" class="market shell-content hide-content allProjects projectsDiv">
      <section>
        <div class="grid-2">
          <h1 class="title">Community Fundraiser</h1>
          <h6 class="byline">Winter 2023</h6>
          <div class="break-noline-small"></div>
        </div>
        <div class="grid-2">
          <p>Our Community Fundraiser is an open-hearted effort to build our school on a foundation of mutual aid and reciprocity. As we reject the old financial models of private education, we’re looking to create something new, beautiful, and expansive in its place. We aim to create a learning environment where no one is ever turned away due to their inability to pay tuition. To bring this vision to life, we ask our community members with access to high salaries, generational wealth, and savings to donate generously. We are deeply grateful for every contribution.</p>
          <p>
            <a href="/blog">learn more...</a>
          </p>

        </div>
      </section>

      <!-- <div class="break-noline"></div> -->

      <section class="stacked stacked-4">
        <div class="grid-1 featured fundraiser-winter-23 session">
          <div class="featured-text half">
            <div class="top">
              <!-- <h4 class="type"><a href="#"></a></h4> -->
              <h2 class="title"><a href="#">Donation In-Kind</a></h2>
            </div>
            <div class="right">
              <p> Make a tax deductible donation to SFPC via our fiscal sponsor, Gray Area.
              </p>
              <p class="item inkind" id="addon-inkind-wrapper"/>

                              <!-- <span class="addon" id="addon-inkind-wrapper"/> -->
            </div>
          </div>
        </div>

      </section>

       <div class="break-noline-small"></div>

      <section id="section-market" class="stacked stacked-4">
        <div class="grid-1 participate">

          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/tuition-gift.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/tuition-gift">scholarship</a></h4>
                <h2 class="title Purchase">Tuition Gift Certificate</h2>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$750 - $1200</span></h3>
              </div>

            </div>
          </div>
          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/tuition-gift.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/tuition-gift">scholarship</a></h4>
                <h2 class="title Purchase">Tuition Gift Certificate</h2>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$750 - $1200</span></h3>
              </div>

            </div>
          </div>
          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/tuition-gift.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/tuition-gift">scholarship</a></h4>
                <h2 class="title Purchase">Tuition Gift Certificate</h2>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$750 - $1200</span></h3>
              </div>

            </div>
          </div>
          <div id="/tuition-gift"
            class="grid-4 featured tuition-gift product" data-location="
            ">
            <div class="featured-text">
              <img src="https://sfpc.study/images/market/tuition-gift.jpg">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/tuition-gift">scholarship</a></h4>
                <h2 class="title Purchase">Tuition Gift Certificate</h2>
                <!-- <h6>donated by you! </h6> -->
                <BR>
                  <h3><span id=”cost”>$750 - $1200</span></h3>
              </div>

            </div>
          </div>

        </div>
      </section>

      <div class="break-noline-small"></div>
      <section id="section-market">
        <div class="grid-2">
         <h1>Community Market</h1>
        </div>
        <div class="grid-2"> <p>100% of proceeds go towards scholarships at SFPC.
        </div>
      </section>
      <div class="break-noline-small"></div>
      <section id="section-market" class="stacked stacked-4">
        <div class="grid-1 participate">

          {{#each products}}
          {{#if cost}}
          <div id="{{this.[Website-Slug]}}"
            class="grid-4 featured {{this.[Website-Slug]}} product" data-location="
            ">
            <div class="featured-text">
              <img src="{{this.[Image-URL]}}">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/fundraiser/{{this.[Website-Slug]}}">{{#each
                    this.[Product-Type]}} {{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}}{{/each}}</a></h4>
                <h2 class="title {{this.[Sell-Type]}}">{{this.Name}}</h2>
                {{#if [Contributor]}}
                  <h6>donated by {{Contributor}} </h6>
                {{/if}}
                  <BR>
                {{#if availableForSale}}
                  {{#if totalInventory }}
                  {{#lte availableInventory 10}}
                  <h4><span>Only {{availableInventory}} left!</span></h4>
                  <BR>
                  {{/lte}}
                  {{/if}}
                  <h3><span id=”cost”>${{cost}}</span></h3>
                {{else}}
                  <h3><span id=”cost”>Out of Stock</span></h3>
                {{/if}}
              </div>

            </div>
          </div>
          {{/if}}
          {{/each}}

        </div>
      </section>


      <!-- <div class="break"></div> -->
      <div class="break-noline"></div>
      <div class="break-endpage"></div>
    </div>
  </div>

  <script src="/outside.js"></script>
  </p>

</body>

</html>
