<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link href="/css/shopify.css" rel="stylesheet" />
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->

  <script src="/js/initShopify.js"></script>
  <script>
    initShopifyCart()
  </script>
</head>


<body>
  {{> header}}
  {{> footer}}

  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize projects sfpc">
    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>

    <h4 class="breadcrumb  hide-content"><a href="">market</a></h4>

    <div id="market" class="shell-content hide-content allProjects projectsDiv">
      <section>
        <div class="grid-2">
          <h1>Community Market</h1>
        </div>
        <div class="grid-2">
        </div>
      </section>

      <div class="break-noline"></div>

      <section id="section-market" class="stacked stacked-4">
        <div class="grid-1 participate">
          {{#each products}}
          <div id="{{this.[Website-Slug]}}"
            class="grid-4 featured {{this.[Website-Slug]}} product" data-location="
            ">
            <div class="featured-text">
              <img src="{{this.[Image-URL]}}">
              <div class="top">
                <h4 class="type type-list-comma"><a href="/market/{{this.[Website-Slug]}}">{{#each
                    this.[Product-Type]}} {{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}}{{/each}}</a></h4>
                <h2 class="title {{this.[Sell-Type]}}">{{this.Name}}</h2>
                {{#if [Contributor]}}
                <h6>donated by {{Contributor}} </h6> {{/if}}
                <BR>
                  <h3><span id=”cost”>${{cost}}</span></h3>
              </div>

            </div>
          </div>
          {{/each}}
        </div>
      </section>


      <!-- <div class="break"></div> -->
      <div class="break-noline"></div>
      <div class="break-endpage"></div>
    </div>
  </div>

  <script src="/outside.js"></script>
  </p>

</body>

</html>
