<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
  <link id="mode" rel="stylesheet" type="text/css" href="/lcd.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script> 
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '702080505718294');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=702080505718294&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<script>
  function metaTrack(){
    fbq('track', 'ViewContent');
  }    
</script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>


<body>
  {{> header}}
  {{> footer}}
  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize about {{"Session Slug"}} sfpc">

    <div class="selectors {{#if registrationDone}}regDone{{/if}}">
      <select id="allSections" onchange="sectionJump(this.value)" class="{{"Session Slug"}} hide-content">
        <option value="class">Jump to section...</option>
        <option value="section-class-details">ABOUT </option>
        <option value="section-class-details">--Details & Description</option>
        {{#if showcase}}<option value="section-showcase">--Outcomes </option>{{else}}{{/if}}
        <option value="section-course-of-study">--Course of Study</option>
        <option value="section-expectations">--Expectations</option>
        <option value="section-is-this-class-for-me">--Is this for me?</option>
        <option value="section-teachers">--Teachers{{#if guests}} & Guests{{/if}}</option>
        <option value="section-accessibility" class="hide-regDone">--Accessibility</option>
        <option value="section-apply" class="hide-regDone">APPLY NOW</option>
        <option value="section-cost" class="hide-regDone">FINANCES</option>
        <option value="section-cost" class="hide-regDone">--Cost of Attendence</option>
        <option value="section-scholarships" class="hide-regDone">--Scholarships</option>
        <option value="section-donate" class="hide-regDone">--Donate to SFPC</option>
        <option value="section-refund" class="hide-regDone">--Refund Policy</option>
        <option value="section-classes">OPPORTUNITIES</option>
      </select>
    </div>





    <h4 class="breadcrumb hide-content">
      <a href="/participate.html">participate</a>
      <span class="caret"></span>
      <a href="">sessions</a>
      <span class="caret"></span>
      <!-- <a href="/sessions/{{'Session Slug'}} " id=" session-link">{{"Session Name"}}</a> -->

      <!-- {{#if [Session Name]}} -->
      <!-- {{#if [Session-External-Website]}} -->
      <!-- <a href="{{[Session-External-Website]}}">{{else}} -->
      <!-- <a href="/sessions/{{this.[Session Slug]}}"> -->
      <!-- {{/if}} -->
      <!-- <span class="blog-tag"> <span id="tag" class="{{[Session Slug]}}">{{[Session Name]}} </span> </span></a> -->
      <!-- <span class="blog-tag"> <span id="tag" class="{{[Session Slug]}}"><a href="/sessions/{{this.[Session Slug]}}">{{[Session Name]}}</a> </span> </span> -->


      <!-- {{/if}} -->

      <a href="/sessions/{{[Session Slug]}}" class="noline">


        <span class="blog-tag"><span id="tag" class="{{[Session Slug]}}">

            {{[Session Name]}}


          </span></span></a>



    </h4>




    <div id="class"
      class=" hide-content {{#if applicationsOpen}}appsOpen{{else}}appsClosed{{/if}}  {{#if registrationDone}}regDone{{/if}} {{#if sessionEnded}}sessionEnded{{/if}}  shell-content">


      <a onclick="metaTrack()" class="fixed-apply hide-apply hide-appsClosed" href="{{applicationLink}}">{{#if weekendIntensive}}Sign Up Now{{else}}Apply Now{{/if}}</a>

      <section id="section-class-details">
        <div class="grid-2">
          <h1>
            <!-- <span id="class-name">
              {{name}}
            </span> -->

            <span id="session-name">{{Name}}{{#if Subtitle}}: {{Subtitle}} {{/if}} </span>

          </h1>
        </div>

        <div class="grid-2 class-details">



          <img id="class-image" src="{{bannerImage}}">
          {{#if weekendIntensive}}
          <div class="details">
            <div class="labels">Format</div>
            <div class="labels-info"><span class="weekend-intensive">Weekend Intensive</span></div>
          </div>
          {{/if}}
          <div class="details">
            <div class="labels">Teachers</div>
            <div class="labels-info" id="teachers-list">{{#each teachers}}{{this.Name}}{{#unless
              @last}}, {{/unless}}{{/each}}
            </div>
          </div>

          {{#if guests}}
          <div class="details">
            <div class="labels">Guests</div>
            <div class="labels-info" id="teachers-list">{{#each guests}}{{this.Name}}{{#unless
              @last}}, {{/unless}}{{/each}}
            </div>
          </div>
          {{/if}}

          {{#if organizers}}
          <div class="details">
            <div class="labels">Organizers</div>
            <div class="labels-info" id="organizers-list">{{#each organizers}}{{this.Name}}{{#unless
              @last}}, {{/unless}}{{/each}}
            </div>
          </div>
          {{/if}}

          <div class="details">
            <div class="labels">Date </div>
            <div class="labels-info">
              <span id="date">
                {{#if startDate2}}
                Section 1: {{startDate}} to {{endDate}}<BR>
                Section 2: {{startDate2}} to {{endDate2}}
                {{else}}
                {{startDate}} to {{endDate}}
                {{/if}}
              </span>
              {{#if startDate2}}<BR>{{/if}}{{#if numberOfClasses}} (<span id="number-classes">{{numberOfClasses}}</span>
              classes){{/if}}
            </div>
          </div>
          {{#if time}}
          <div class="details">
            <div class="labels">{{#if weekendIntensive}}schedule{{else}}Time{{/if}}</div>
            <div class="labels-info" id="time"><span style="white-space:pre-line">{{time}}</span>
            </div>
          </div>
          {{/if}}
          <div class="details">
            <div class="labels">Location </div>
            <div class="labels-info" id="location">{{location}}</div>
          </div>
          <div class="details">
            <div class="labels">Cost </div>
            <div class="labels-info">
              <span id="cost">${{cost}}</span>
              {{#if weekendIntensive}}Early bird discount and scholarships available
              {{else}}
              {{#if free}}Full scholarships for all{{else}}Scholarships available{{/if}}

              {{#if registrationDone}}<a href="/about/scholarships">learn more...</a>{{else}}<a href="/participate#scholarships">
                learn more...</a>{{/if}}
              {{/if}}
            </div>
          </div>
          {{#if getnotified}}
          <p class="large apply">
            <a onclick="metaTrack()" href="{{applicationLink}}" target="_blank" id="application-link">Get Notified</a>
          </p>
          {{else}}
          <div class="details">
            <div class="labels">Deadline </div>
            <div class="labels-info">
              {{#if weekendIntensive}}
              <span class="">Sign-ups {{#if applicationsOpen}}open
                until {{else}}closed on {{/if}}</span>
              <span id="deadline">{{applicationEndDate}}</span>. No application necessary.
              {{else}}
              <span class="">Applications {{#if applicationsOpen}}open
                until {{else}}closed on {{/if}}</span>
              <span id="deadline">{{applicationEndDate}}</span>
              {{/if}}
            </div>
          </div>

          <p class="large apply hide-appsClosed">
            <a onclick="metaTrack()" class="special-button" href="{{applicationLink}}" target="_blank" id="application-link">{{#if weekendIntensive}}Sign Up{{else}}Apply{{/if}} Now</a>
          </p>
          {{/if}}


        </div>
      </section>

      <div class="break"></div>


      <section id="section-description">
        <div class="grid-2">
          <h1>Description </h1>
        </div>

        <div class="grid-2">
          <!-- <p style="white-space:pre-line">{{#if sessionEnded}}{{#if "Session End Description"}}{{{"Session End
            Description"}}}
            {{else}}{{{"Description"}}}
            {{/if}}
            {{else}}{{{"Description"}}}
            {{/if}}</p> -->

<p style="white-space:pre-line">{{{"Description"}}}</p>
        </div>
      </section>


      {{#if sessionEnded}}

      {{#if sessionImages.[1]}}
      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">
              <div id="carousel-images" class="class-images after-launch">

                {{#each sessionImages}}
                <figure class="item participate-img"><img src="{{this}}">
                </figure>
                {{/each}}
                {{#if promoGraphic}}
                <figure class="item participate-img"><img src="{{promoGraphic}}">
                </figure>
                {{/if}}

              </div>


            </div>


          </main>
        </main>

      </div>



      <section class="section-testimonials">
        <div class="grid-2">
          <p>
            <span class="text-on-bg">
              <i>Images courtesy of teachers{{#if guests}}, participants, class documentarians and guests{{else}},
                participants and class documentarians{{/if}}.</i>
            </span>
          </p>
        </div>

        <div class="grid-2">
        </div>
      </section>

      {{else}}

      {{#if promoImages.[1]}}
      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">
              <div id="carousel-images" class="class-images after-launch">

                {{#each promoImages}}
                <figure class="item participate-img"><img src="{{this}}">
                </figure>
                {{/each}}
                {{#if promoGraphic}}
                <figure class="item participate-img"><img src="{{promoGraphic}}">
                </figure>
                {{/if}}
              </div>


            </div>


          </main>
        </main>

      </div>



      <section class="section-testimonials">
        <div class="grid-2">
          <p>
            <span class="text-on-bg">
              <i>Images courtesy of teachers{{#if guests}} and guests{{else}}{{/if}}.</i>
            </span>
          </p>
        </div>

        <div class="grid-2">
        </div>
      </section>
      {{/if}}



      {{/if}}


      {{else}}



      {{#if promoImages.[1]}}
      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">
              <div id="carousel-images" class="class-images after-launch">

                {{#each promoImages}}
                <figure class="item participate-img"><img src="{{this}}">
                </figure>
                {{/each}}
                {{#if promoGraphic}}
                <figure class="item participate-img"><img src="{{promoGraphic}}">
                </figure>
                {{/if}}
              </div>


            </div>


          </main>
        </main>

      </div>



      <section class="section-testimonials">
        <div class="grid-2">
          <p>
            <span class="text-on-bg">
              <i>Images courtesy of teachers{{#if guests}} and guests{{else}}{{/if}}.</i>
            </span>
          </p>
        </div>

        <div class="grid-2">
        </div>
      </section>


      {{/if}}

      {{/if}}






      {{#if showcase}}

      <div class="break"></div>
      <section id="section-showcase">
        <div class="grid-2">
          <h1><span id="class-name">
              Outcomes
            </span></h1>


        </div>
        <div class="grid-2 showcase-list">
          {{#if classEvents}}
          <h6>Events ({{eventCount}})</h6>
          {{#each classEvents}}
          <div class="grid-1 featured showcase">
            <div class="featured-text">
              <div class="left">
                <h4 class="type">
                  <a href="/events/{{this.slug}}">{{this.date.start}}</a>
                </h4>
                <a href="/events/{{this.slug}}" target="_blank">
                  <h2 class="title">{{this.name}} </h2>
                </a>
              </div>
              <span class="bio bio-float" style="background-image: url('{{this.image.[0]}}')" role="img"></span>
            </div>
          </div>
          {{/each}} <BR>
          {{/if}}

          {{#if classProjects}}
          <h6>Projects ({{projectCount}})</h6>
          {{#each classProjects}}
          <div class="grid-1 featured showcase">
            <div class="featured-text">
              <div class="left">
                <h4 class="type">
                  <a href="/projects/{{this.slug}}">{{this.date.start}}</a>
                </h4>
                <a href="/projects/{{this.slug}}" target="_blank">
                  <h2 class="title">{{this.name}} </h2>
                </a>
              </div>
              <span class="bio bio-float" style="background-image: url('{{this.image.[0]}}')" role="img"></span>
            </div>
          </div>
          {{/each}} <BR>
          {{/if}}

          {{#if classBlog}}
          <h6>Blog Posts ({{blogCount}})</h6>
          {{#each classBlog}}
          {{#eq this.status.[0] "Published"}}
          <div class="grid-1 featured showcase">
            <div class="featured-text">
              <div class="top">
                <h4 class="type">
                  <a href="/blog/{{this.slug}}">{{this.date.start}}</a>
                </h4>
                <a href="/blog/{{this.slug}}" target="_blank">
                  <h2 class="title">{{this.name}} </h2>
                </a>
              </div>

              <span class="bio bio-float" style="background-image: url('{{this.image}}')" role="img"></span>
            </div>
          </div>
          {{/eq}}
          {{/each}} <BR>
          {{/if}}



        </div>

      </section>

      {{/if}}













      {{#each pageContent}}


      <div class="break"></div>


      <section id="section-{{dashcase @key}}" class="program-content">
        <div class="grid-2">
          <h1>{{@key}}</h1>
        </div>

        <div class="grid-2">
          {{{this}}}
        </div>
      </section>


      {{/each}}

      <div class="break"></div>


      <section id="section-teachers">
        <div class="grid-2">
          <h1>Meet the Teachers {{#if guests}}& Guests{{/if}}</h1>
        </div>

        <div class="grid-2 class-details">


          <dl class="accordion">
            {{#each teachers}}
            {{>personCard person=this}}
            {{/each}}

            {{#if guests}}

            {{#each guests}}
            {{>personCard person=this}}
            {{/each}}

            {{/if}}
            {{#if justOrganizers}}

            {{#each justOrganizers}}
            {{>personCard person=this}}
            {{/each}}

            {{/if}}

          </dl>


        </div>

      </section>



      <div class="break"></div>


      {{> classBoilerplate}}




    </div>










    <script src="/outside.js"></script>
    <script src="/carousel.js"></script>
    <script src="/closed.js"></script>
    </p>

</body>

</html>
