

<head>
    <title>School for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="School for Poetic Computation">
    <meta name="description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/">
    <meta property="og:title" content="School for Poetic Computation">
    <meta property="og:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/">
    <meta property="twitter:title" content="School for Poetic Computation">
    <meta property="twitter:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <link href="/styles.css" rel="stylesheet">
    <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script> -->
    <!-- end stats -->
</head>


<body>
{{> header}}
{{> footer}}

      <div class="crt-overlay crt-overlay-fullsize"></div>

      <div id="shell" class="shell shell-fullsize about sfpc">

        <div class="loader-content">
            <p tabindex="0" class="large">
              loading<span>...</span>
            </p>
        </div>

        <!-- <div class="selectors">
        <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
              <option value="class">Jump to section...</option>
              <option value="section-class-details">ABOUT </option>
            </select>
          </div>-->





            <h4 class="breadcrumb hide-content">
              <a href="/events">events</a>
              <!-- <span class="caret"></span>  -->
            </h4>




        <div id="class" class="event hide-content appsClosed beforeClass shell-content">


                <section id="section-class-details">
                    <div class="grid-2">
                      <h1><span id="class-name">
                        {{Name}}
                      </span></h1>
                    </div>

                    <div class="grid-2 class-details">



                      {{#if [Session-Slug]}}
                      <h4 class="noline">
                      <!-- {{Status.[0]}} {{[Release Date].start}} -->

                      <a href="/sessions/{{[Session-Slug]}}"> <span class="c"><span id="tag" class="{{[Session-Slug]}}">{{[Website-Session]}}</span></span></a>



                      </h4>

                      <div class="break-noline-small"></div>

                      {{/if}}
                      <img id="class-image" src="{{this.[Promo Image]}}">

                      {{#if Date}}
                      <div class="details">
                        <div class="labels">Date</div>
                        <div class="labels-info" id="teachers-list">
                          {{#if Cost}} {{/if}}{{this.[Date].start}}
                          {{#if [Date].end}}— {{[Date].end}}{{/if}}
                       </div>
                      </div>
                      {{/if}}


                      {{#if Time}}
                      <div class="details">
                        <div class="labels">Time</div>
                        <div class="labels-info" id="teachers-list">
                        {{this.[Time]}}
                       </div>
                      </div>
                      {{/if}}

                      {{#if Location}}
                      <div class="details">
                        <div class="labels">Location</div>
                        <div class="labels-info" id="teachers-list">
                          {{#if Location-URL}}<a href="{{Location-URL}}">{{/if}}

                        {{this.[Location]}}{{#if Location-URL}}</a>{{/if}}
                       </div>
                      </div>
                      {{/if}}

<!--
                      {{#if Website-Organizers}}
                      <div class="details">
                        <div class="labels">Organizers</div>
                        <div class="labels-info" id="teachers-list">{{#each Website-Organizers}}{{this}}{{#unless @last}},{{/unless}} {{/each}} {{#each this.[Additional organizers]}} {{this}} {{/each}}</div>
                      </div>
                      {{/if}}

                      {{#if Website-Contributors}}
                      <div class="details">
                        <div class="labels">Contributors</div>
                        <div class="labels-info">
                          <span tabindex="0" class="expand"><a class="link">{{Website-Contributors.length}} contributors...</a>
                          <span class="expanded hide-expanded">
                          {{#each Website-Contributors}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
                        </span></span>
                        </div>
                      </div>
                      {{/if}}

                      {{#if Partnership?}}
                      <div class="details">
                        <div class="labels">Partners</div>
                        <div class="labels-info" id="teachers-list">{{Partnership?}} {{Partners}}</div>
                      </div>
                      {{/if}} -->


                                              <!-- {{#if Website-Session}}
                                              <div class="details">
                                                <div class="labels">Program</div>
                                                <div class="labels-info" id="program-info">

                                                  {{#if Website-Class}}
                                                  {{#each Website-Class}}{{this}}{{#unless @last}}, {{/unless}} {{/each}} {{/if}}



                                                </div>
                                              </div>
                                              {{/if}} -->


                                              <div class="details">
                                                <div class="labels">Cost</div>
                                                <div class="labels-info" id="">
                                                  <h3>
                                                    {{#if Cost}}
                                                <span id=”cost”>${{Cost}}</span>
                                                 {{{Cost-Details}}}
                                               {{else}}Free{{/if}}
                                                 {{#if Suggested-Donation}}with suggested donation (${{Suggested-Donation}}){{/if}}
                                                 </h3>
                                                </div>
                                              </div>



                      <p class="large apply">

                        {{#if External-Website}}
                            <a href="{{"External-Website"}}" target="_blank" id="application-link">


                              {{External-CTA}}

                            </a>

                        {{else}}

                        {{#if RSVP}}
                            {{#if RSVP-Open}}
                            <a href="{{RSVP}}" target="_blank" id="application-link">RSVP</a>
                            {{else}}
                            <a href="{{RSVP}}" target="_blank" id="application-link">RSVP Closed</a>
                            {{/if}}
                        {{/if}}


                        {{/if}}
                      </p>


                      <!-- {{#if Cost}}
                        <h3>
                      <span id=”cost”>${{Cost}}</span>
                       {{{Cost-Details}}}</h3>
                      {{/if}} -->

                      {{#if More-Info}}
                      <p>
                     {{{More-Info}}}</p>
                      {{/if}}

                    </div>
                </section>


                {{#if Description}}
                <div class="break"></div>


                <section id="section-description">
                    <div class="grid-2">
                      <h1>Description </h1>
                    </div>

                    <div class="grid-2">
                        <p style="white-space:pre-line">
                        {{Description}}
                        </p>


                      <!-- <p class="large apply">
                        <a href="{{websiteURL}}" target="_blank" id="application-link">Visit Website</a>
                      </p> -->
                    </div>
                </section>
                {{/if}}

                {{#each pageContent}}


                      <div class="break"></div>


                <section id="section-{{dashcase @key}}" class="program-content">
                  <div class="grid-2">
                    <h1>{{@key}}</h1>
                  </div>

                  <div class="grid-2">
                    {{{this}}}
                  </div>
                </section>


                {{/each}}
                




                {{#if Images}}

                <div class="break-noline"></div>

               <div class="grid-container" id="participate-archive">

                 <main class="grid-item main">
                   <main class="grid-item main">
                     <div class="carousel-items items carousel-content participate-content">


                       <div id="carousel-images" class="class-images ">

                         {{#each Images}}
                         <figure class="item participate-img"><img src="{{this}}"></figure>
                         {{/each}}

                         </div>


                     </div>


                   </main>
                 </main>

               </div>
               {{/if}}


               <div class="break"></div>

               <div class="break-noline"></div>


               <section id="section-outro">
                 <p tabindex="0" class="large">
                   Interested in more learning opportunities at the School for Poetic Computation?
                   Join our <a href="/newsletter">newsletter</a> to stay up to date on future
                   sessions and events, and
                   follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
                     href="https://twitter.com/sfpc">Twitter</a>.
                   Support our programming through <a
                     href="https://withfriends.co/school_for_poetic_computation/join">scholarships</a>.
                   Get in touch over <a href="mailto:info@sfpc.study">email</a>.
                 </p>
               </section>



                <div class="break-endpage"></div>








        </div>










<script src="/outside.js"></script>
<script src="/carousel.js"></script>
<!-- <script src="/closed.js"></script> -->
</p>

</body>
</html>
