<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
  <link id="mode" rel="stylesheet" type="text/css" href="/lcd.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>


<body>
  {{> header}}
  {{> footer}}

  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize about shell-content {{Website-Slug}}">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>

    <!--<div class="selectors">
         <select id= "allSections" onchange="sectionJump(this.value)">
          <option value ="">Jump to section...</option>
          <option value ="introduction">Introduction</option>
          <option value ="classes">Classes</option>
        </select>
      </div> -->


    <h4 class="breadcrumb hide-content text-on-bg">
      <a href="/participate.html">participate</a>
      <span class="caret"></span>
      <a href="">sessions</a>
      <!-- <span class="caret"></span>
      <a href="/sessions/summer-22" id="session-link">summer 2022</a> -->
    </h4>

    <div id="class" class=" hide-content {{#if applicationsOpen}}appsOpen{{else}}appsClosed{{/if}} beforeClass">


      <a class="fixed-apply hide-apply hide-appsClosed" href="{{[Application URL]}}">Apply Now</a>



      <section id="classes" class="stacked stacked-4">


        <!-- <section class="stacked stacked-4">
          <div class="grid-1 featured {{Website-Slug}} session">
            <div class="featured-text">
              <div class="top">
                <h4 class="type"><a href="/sessions/{{Website-Slug}}">session</a></h4>
                <h2 class="title">{{Name}}</h2>
              </div>
              <div class="bottom">
                <h4 class="details">{{classCount}} classes</h4>
              </div>
            </div>
          </div>
        </section> -->
<!--
        <section id="" class="stacked stacked-4">

          <div class="grid-1 participate">

            {{#each classBlock}}
            <div class="grid-4 featured {{Website-Slug}} session" data-location="">
              <div class="{{image}}">
                <div class="top">
                  <h4 class="type"><a href="/sessions/{{Website-Slug}}/{{slug}}">class</a></h4>
                  <h2 class="title class">{{name}}</h2>
                  <h6>with {{#each teachers}}
                  {{#if @last}}{{#if @first}}{{else}}and{{/if}}{{/if}}{{this.Name}}{{/each}}</h6>
                </div>
                <div class="bottom">
                  <h4 class="details">{{date.start}} - {{date.end}} <span class="dot">·</span>{{location}} <span
                      class="dot">·</span>{{appStatus}}</h4>
                </div>
              </div>
            </div>
            {{/each}}


          </div>


        </section> -->








        {{#eq [Website-Slug] "spring-22"}}
        {{> spring22classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "summer-22"}}
        {{> summer22classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "fall-22"}}
        {{> fall22classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "winter-23"}}
        {{> winter23classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "spring-23"}}
        {{> spring23classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "summer-23"}}
        {{> summer23classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "fall-23"}}
        {{> fall23classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "winter-24"}}
        {{> winter24classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "spring-24"}}
        {{> spring24classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "summer-24"}}
        {{> summer24classBlock}}
        {{/eq}}
        {{#eq [Website-Slug] "fall-24"}}
        {{> fall24classBlock}}
        {{/eq}}

      </section>







            <div class="break-noline"></div>


      <section class="intro {{Website-Slug}}" id="introduction">
        <p tabindex="0" class="large">
          <span id="introduction-text" style="white-space:pre-line">{{#if sessionEnded}}{{#if "Session End Description"}}{{"Session End Description"}}{{else}}{{Description}}{{/if}}{{else}}{{Description}}{{/if}}</span><BR><BR>
          <span id="session-name">{{Name}}</span>
          {{#if sessionEnded}}was{{else}}is{{/if}}
          organized by
          {{#each organizers}}
          {{#if @last}}{{#if @first}}{{else}}and{{/if}}{{/if}}
          <span class="bio" style="background-image: url('{{this.Image.[0]}}')" role="img"></span>

          <span tabindex="0" class="expand"><a class="link">{{this.Name}}</a><span class="expanded hide-expanded">
              {{this.Bio}} </span></span>{{#if @last}}{{#if @first}}{{else}}.{{/if}}{{/if}}
          {{/each}}


          It include{{#if sessionEnded}}d{{else}}s{{/if}} classes with
          {{#each teachers}}
          {{#if @last}}{{#if @first}}{{else}}and{{/if}}{{/if}}
          <span class="bio" style="background-image: url('{{this.Image.[0]}}')" role="img"></span>

          <span tabindex="0" class="expand"><a class="link">{{this.Name}}</a><span class="expanded hide-expanded">
              {{this.Bio}} </span></span>{{#if @last}}{{#if @first}}{{else}}.{{/if}}{{/if}}
          {{/each}}

          <BR><BR>


            {{#if applicationsOpen}}

                <a href="{{[Application URL]}}" class="hide-appsClosed">Apply Now</a> until {{applicationEndDate}}.


                {{else}}



                    {{#if [Application URL]}}
                    <span class="hide-appsOpen">Applications closed.</span>
                    <!-- on</span>
                  <span id="deadline">{{[Application End Date].[0]}}</span>. -->
                    {{else}}

                     Applications launching soon.
                     {{#if [Get Notified Link]}}<a href="{{[Get Notified Link]}}">Get Notified</a>.{{/if}}

                    {{/if}}


                {{/if}}









        </p>
      </section>

      <!-- <div class="break"></div> -->



      <div class="break-noline"></div>


            <section id="section-class-details">

              <div class="grid-2 class-details">



                <img id="class-image" class="intro-image"  src="{{[Banner Image].[0]}}">
              </div>
            </section>

      {{#if [Promotion Designer]}}  <section class="section-testimonials">
          <div class="grid-2">
            <p>
             <span  class="text-on-bg"> Session promotion design by {{[Promotion Designer]}}.</span>
            </p>
          </div>

          <div class="grid-2">
          </div>
        </section>{{/if}}




      <div class="break"></div>


      <div class="grid-container" id="participate-archive">

        <main class="grid-item main">
          <main class="grid-item main">
            <div class="carousel-items items carousel-content participate-content">

              <figure class="block-text test hide-test">I appreciated the empathy, care, and patience of instructors &
                classmates, especially as we all were trying to navigate personal and community crises during an ongoing
                pandemic. My favorite moments included the smaller group discussions that often led to deeper
                connections and learnings with peers and teachers.
                <h4>Tyler Yin</h4>
              </figure>
              <figure class="block-text test hide-test">SFPC's classes provided exactly the kind of learning experience
                at the intersection of art and coding that I was looking for. It was a fantastic and enriching
                experience, with knowledgeable teachers who create a supportive and stimulating environment for
                everyone.
                <h4>Fall 2021 Participant</h4>
              </figure>
              <figure class="block-text test hide-test">After SFPC, I now have a stronger art practice with new
                technologies and tools to continue experimenting with. I'm a part of a greater community of folks
                working with art and technology who I can collaborate with, get inspired by, and meet across the world
                and for years to come.
                <h4>Mathilde Mouw-Rao</h4>
              </figure>
              <figure class="block-text test hide-test">The whole SFPC experience was surreal. It felt unlike anything
                I've ever done. It was a magical space that let me explore concepts that I otherwise would not have had
                the time to think about. It makes a strong case for a more radically community-oriented model of
                pedagogy and living life that feels more complete, enriching, sustainable, and ultimately more hopeful.
                <h4>Francisco Rojo</h4>
              </figure>
              <figure class="block-text test hide-test">It is a very therapeutic and rare experience to find a place
                where you're able to re-examine your technical knowledge and how it relates to your place in the world
                and the future you want to make.
                <h4>Danny Garfield</h4>
              </figure>
              <figure class="block-text test hide-test">SFPC is filled with amazing people and an open mindset to
                learning, and doing. It has taught me different ways of thinking, ones that I would be sure to bring
                back to my endeavors outside of the art world.
                <h4>Ying Quan Tan</h4>
              </figure>
              <figure class="block-text test hide-test">SFPC is the purest, most honest exchange of knowledge and
                experience among peers I have ever experienced. It is a supportive space where everyone learns from
                everyone, and bridges are built that continue to be strengthened for years to come. You won't get a
                certificate or a title at the end of it, but I would be amazed if you ever looked at your world the same
                again. I haven't.
                <h4>Ramsey Nasser</h4>
              </figure>
              <figure class="block-text test hide-test">I'm half way through the program and I'm already missing being
                here. SFPC was a much needed breath of fresh air in my hectic creative existence, an unlikely place to
                stop and remind myself what was it I was into in the first place.
                <h4>Fernando Ramallo</h4>
              </figure>
              <figure class="block-text test hide-test">SFPC is the best place you can explore your interest as much as
                you want and the place you start to write your own poem.
                <h4>Yosuke Sakai</h4>
              </figure>
              <figure class="block-text test hide-test">SFPC is not really a school or a course — it is more like a door
                into an extraordinary world. It is driven by passion, kindness and the thrill of teaching and learning.
                I would love to live those inspiring weeks all over again.
                <h4>Jesse Wolpert</h4>
              </figure>
              <figure class="block-text test hide-test">School For Poetic Computation is equal parts The Factory,
                childhood blanket fort, and mad scientist's lab. I learned a ton from the teachers and the whole SFPC
                community in a huge collaborative and exploratory environment.
                <h4>Lee Tusman</h4>
              </figure>

              <div id="carousel-images">
                <figure class="item participate-img pi1"><img src=""></figure>
                <figure class="item participate-img pi2"><img src=""></figure>
                <figure class="item participate-img pi3"><img src=""></figure>
                <figure class="item participate-img pi4"><img src=""></figure>
                <figure class="item participate-img pi5"><img src=""></figure>
                <figure class="item participate-img pi6"><img src=""></figure>
                <figure class="item participate-img pi7"><img src=""></figure>
                <figure class="item participate-img pi8"><img src=""></figure>
                <figure class="item participate-img pi9"><img src=""></figure>
                <figure class="item participate-img pi10"><img src=""></figure>
                <figure class="item participate-img pi11"><img src=""></figure>
                <figure class="item participate-img pi12"><img src=""></figure>
                <figure class="item participate-img pi13"><img src=""></figure>
                <figure class="item participate-img pi14"><img src=""></figure>
                <figure class="item participate-img pi15"><img src=""></figure>
                <figure class="item participate-img pi16"><img src=""></figure>
                <figure class="item participate-img pi17"><img src=""></figure>
                <figure class="item participate-img pi18"><img src=""></figure>
                <figure class="item participate-img pi19"><img src=""></figure>
              </div>


            </div>


          </main>
        </main>

      </div>

      <section class="section-testimonials">
        <div class="grid-2">
          <p>
            <span id="test-text" class="text-on-bg">You are viewing photos from past sessions. Read participant <a
                href="#testimonials" class="testimonials text-on-bg">testimonials</a>.</span>
            <span id="photos-text" class="hide-text text-on-bg">You are viewing participant testimonials. View <a
                href="#photos" class="participate-photos text-on-bg">photos</a> from past sessions.</span>
          </p>
        </div>

        <div class="grid-2">
        </div>
      </section>



      <div class="break-noline"></div>


      <section id="section-outro">
        <p tabindex="0" class="large">
          Interested in more learning opportunities at the School for Poetic Computation?
          Join our <a href="/newsletter">newsletter</a> to stay up to date on future
          sessions and events, and
          follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
            href="https://twitter.com/sfpc">Twitter</a>.
          Support our programming through <a
            href="https://withfriends.co/school_for_poetic_computation/join">scholarships</a>.
          Get in touch over <a href="mailto:info@sfpc.study">email</a>.
        </p>
      </section>


      <div class="break-endpage"></div>




    </div>










    <script src="/outside.js"></script>
    <script src="/closed.js"></script>
    <script src="/carousel.js"></script>
    </p>

</body>

</html>
