<section id="section-accessibility">
  <div class="grid-2">
    <h1>Accessibility</h1>
  </div>

  <div class="grid-2">
    <p>Our programs are conducted in spoken English with audiovisual materials such as slides, code examples and video.
      {{#contains location "Online"}}Online programs are held over Zoom.{{/contains}}
    </p>
    <p>Please take care and be well. We hope you are comfortable in your housing, living, and working situation in
      general. Never hesitate to ask us for advice and reach out if you have accessibility requests or need any
      assistance during your time at SFPC. We will work closely with you towards co-creating the most accommodating
      learning environment for your needs.
    </p>
    <p><a href="mailto:admissions@sfpc.study">reach out with questions about access...</a>
    </p>
  </div>
</section>




  {{#if applicationEndDate}}

  <div class="break"></div>


<section id="section-apply">
  <div class="grid-2">
    <h1>How do I apply?</h1>
  </div>

  <div class="grid-2">



    <p class="large apply hide-appsClosed">
      <a href="{{applicationLink}}" id="application-link">Apply Now</a>
    </p>

    <p>
      <span class="hide-appsClosed">Applications open until</span>
      <span class="hide-appsOpen">Applications closed on</span>
      <span id="deadline">{{applicationEndDate}}</span>.
    </p>
    <p>You can expect to hear back from us about the status of your application on {{notifyDate}}. Please email us at <a
        href="mailto:admissions@sfpc.study">admissions@sfpc.study</a> with any questions you have.
    </p>
    <p>
      <a href="/about-participating.html">more about what we look for in participants...</a>
    </p>
  </div>
</section>
{{/if}}

<div class="break"></div>



<section id="section-cost">
  <div class="grid-2">
    <h1>How much does it cost to attend?</h1>
  </div>

  <div class="grid-2">
    <p>
      <span id="cost">${{cost}}</span> + Withfriends payment processing fees for <span id="number-classes">{{numberOfClasses}}</span>
      classes.
    </p>
    <p>Upon payment, your space in the class will be reserved.
      We offer scholarships for those who cannot pay full tuition. Read more about scholarships below.

    </p>
  </div>
</section>

<div class="break"></div>




<section id="section-scholarships">
  <div class="grid-2">
    <h1>I can’t pay for SFPC. Can I come at a reduced rate, or for free?</h1>
  </div>

  <div class="grid-2">
    <p>
      If you can’t pay full tuition, we really still want you to apply. Our application will ask you how much you can
      pay. We will offer subsidized positions in all of our classes, once each one has enough participants enrolled that
      we’re able to do so.
    </p>
    <p>We have also started a <a href="https://withfriends.co/school_for_poetic_computation">scholarship fund</a>, and
      we will be offering additional scholarships as community members <a
        href="https://withfriends.co/school_for_poetic_computation">redistribute their wealth</a> through SFPC.
      We direct scholarship funds towards participants who are low-income, Black, Indigenous, racialized, gendered,
      disabled, Queer, trans, oppressed, historicially excluded and underrepresented.
    </p>
    <p>
      Right now, tuition is SFPC’s main source of income, and that is a problem. It means that we can only pay teachers,
      pay for space, and organize programs when participants pay full tuition to attend. Tuition is a huge barrier to
      entry into the SFPC community, and it disproportionately limits Black participants, indigenous participants, queer
      and trans participants, and other people who are marginalized, from participating. Scholarships are not a long
      term solution for us, but in the short and medium term we hope to offer them more while we work towards
      transforming SFPC’s financial model.
    </p>
  </div>
</section>

<div class="break"></div>


<section id="section-donate">
  <div class="grid-2">
    <h1>How can I help others to attend SFPC?</h1>
  </div>

  <div class="grid-2">
    <p>
      For SFPC to be the kind of place the community has always meant it to be, it needs to become a platform for wealth
      redistribution. If you are a former participant, prospective participant, or friend of the school, and you have
      the financial privilege to do so, <a href="https://withfriends.co/school_for_poetic_computation/join">please
        donate generously</a>. There is enough wealth in this community to make sure no one is ever rejected because of
      their inability to pay, and becoming that school will make SFPC the impactful, imaginative, transformative center
      of poetry and justice that we know it can be.

    </p>
  </div>
</section>

<div class="break"></div>

<section id="section-refund">
  <div class="grid-2">
    <h1>What if I can’t go, can I get a refund?</h1>
  </div>

  <div class="grid-2">
    <ul id="expectations-list">
      <li>Yes, we can give you 100% refund up to 10 days before class starts
      <li>50% refund after 10 days, until the first day of the class
      <li>No refunds can be given after the first day of the class
    </ul>
  </div>
</section>


<div class="break"></div>
{{#eq [Session Slug] "spring-22"}}
{{> spring22classBlock}}
{{else}}
{{> summer22classBlock}}
{{/eq}}

<div class="break-noline"></div>

<section id="section-outro">
  <p tabindex="0" class="large">
    Interested in more learning opportunities at the School for Poetic Computation?
    Join our <a href="https://stats.sender.net/forms/e09QVa/view">newsletter</a> to stay up to date on future sessions
    and events, and
    follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
      href="https://twitter.com/sfpc">Twitter</a>.
    Support our programming through <a href="https://withfriends.co/school_for_poetic_computation">scholarships</a>.
    Get in touch over <a href="mailto:info@sfpc.study">email</a>.
  </p>
</section>


<div class="break-endpage"></div>
