{{!-- <section id="section-accessibility" class="">
  <div class="grid-2">
    <h1>Accessibility</h1>
  </div>

  <div class="grid-2">
    <p>Our programs are conducted in spoken English with audiovisual materials such as slides, code examples and video.
      {{#contains location "Online"}}Online programs are held over Zoom.{{/contains}}
    </p>
    <p>Please take care and be well. We hope you are comfortable in your housing, living, and working situation in
      general. Never hesitate to ask us for advice and reach out if you have accessibility requests or need any
      assistance during your time at SFPC. We will work closely with you towards co-creating the most accommodating
      learning environment for your needs.
    </p>
    <p><a href="mailto:admissions@sfpc.study">reach out with questions about access...</a>
    </p>
  </div>
</section> --}}




<!-- {{#if applicationEndDate}} -->

<div class="break"></div>

<div class="hide-appsClosed">
<section id="section-apply"  class="">
  <div class="grid-2">
    <h1>How do I apply?</h1>
  </div>

  <div class="grid-2">




    <p class="large apply">
      <a href="{{applicationLink}}" id="application-link">Apply Now</a>
    </p>

    <p>
      <span class="hide-appsClosed">Applications open until</span>
      <span class="hide-appsOpen">Applications closed on</span>
      <span id="deadline">{{applicationEndDate}}</span>.
    </p>



    <p>You can expect to hear back from us about the status of your application on {{notifyDate}}. Please email us at <a
        href="mailto:admissions@sfpc.study">admissions@sfpc.study</a> with any questions you have.
    </p>
  </div>
</section>
<!-- {{/if}} -->

<div class="break"></div>



<section id="section-cost" class="">
  <div class="grid-2">
    <h1>How much does it cost to attend?</h1>
  </div>

  <div class="grid-2">

    {{#if free}}
    <p id="section-free">
      This class is free / pay-what-you-want through the support of external funding. </p>
      <p>
      <B>At SFPC we believe that no one should be denied an educational opportunity because of their inability to pay. </b>

        Through the support of funders and <a href="https://withfriends.co/school_for_poetic_computation/join">community donors</a>, we are able to subsidize tuition-free classes and provide scholarships for participants.
      </p>
      <p>
      Our scholarships directly redistribute wealth to those who might otherwise be unable to participate in our program. Scholarships are a critical resource on our way towards creating a more comprehensive free or donation-based model in the future.
    </p>
    <p>
      We know this future is possible through the generous help of current, former and future participants, community members, and friends of the school on <a href="https://withfriends.co/school_for_poetic_computation/join">WithFriends</a>. Please <a href="https://withfriends.co/school_for_poetic_computation/join">become a member</a> to help us become a beautiful school that can offer free and low cost classes and events in the future.


    </p>
    <p><i>{{#eq funders "A4J"}}This class is made possible by a grant from <a href="https://artforjusticefund.org">Art for Justice Fund</a>, a sponsored project of Rockefeller Philanthropy Advisors.

Through this grant, we offer tuition-free classes that interrogate the role technology plays in the carceral system through the study of critical theory, computation, visual art and poetry.
{{/eq}}</i>
    </p>

    {{else}}

    <p>For <span
      id="number-classes">{{numberOfClasses}}</span>
    classes, it costs
      <span id="cost">${{cost}}</span>
      +{{#if fee}} ${{fee}} in{{/if}} processing fees, for a one-time payment.

      We also offer payment plans. Participants can schedule monthly payments
        of the same amount. First and last payments must be made before the start and end of class.
        *<i>Processing fees apply for each payment.</i>

    </p>

    <p>   SFPC processes all payments via Withfriends and Stripe.
      Please email <a href="mailto:admissions@sfpc.study">admissions@sfpc.study</a>
      if these payment options don't work for you.
    </p>

    {{/if}}

  </div>
</section>

<div class="break"></div>

<section id="section-faq" class="">
  <div class="grid-2">
    <h1>Applicant FAQ</h1>
  </div>

  <div class="grid-2">
    <p>
      For more information about what we look for in applicants, scholarships, and other frequently asked questions, please visit our <a href="/participate#admissions-process">applicant FAQ</a>.

    </p>
  </div>
</section>


{{!-- <section id="section-scholarships" class="">
  <div class="grid-2">
    <h1>I can’t pay for SFPC. Can I come at a reduced rate, or for free?</h1>
  </div>

  <div class="grid-2">
    <p>
      If you can’t pay full tuition, we really still want you to apply. Our application will ask you how much you can
      pay. We will offer subsidized positions in all of our classes, once each one has enough participants enrolled that
      we’re able to do so.
    </p>
    <p>We have also started a <a href="/donate">scholarship fund</a>, and
      we will be offering additional scholarships as community members redistribute their wealth through SFPC.
      We direct scholarship funds towards participants who are low-income, Black, Indigenous, racialized, gendered,
      disabled, Queer, trans, oppressed, historicially excluded and underrepresented.
    </p>
    <p>
      Right now, tuition is SFPC’s main source of income, and that is a problem. It means that we can only pay teachers,
      pay for space, and organize programs when participants pay full tuition to attend. Tuition is a huge barrier to
      entry into the SFPC community, and it disproportionately limits Black participants, indigenous participants, queer
      and trans participants, and other people who are marginalized, from participating. Scholarships are not a long
      term solution for us, but in the short and medium term we hope to offer them more while we work towards
      transforming SFPC’s financial model.
    </p>
  </div>
</section>

<div class="break"></div> --}}


{{!-- <section id="section-donate" class="">
  <div class="grid-2">
    <h1>How can I help others to attend SFPC?</h1>
  </div>

  <div class="grid-2">
    <p>
      For SFPC to be the kind of place the community has always meant it to be, it needs to become a platform for wealth
      redistribution. If you are a former participant, prospective participant, or friend of the school, and you have
      the financial privilege to do so, <a href="/donate">please
        donate generously</a>. There is enough wealth in this community to make sure no one is ever rejected because of
      their inability to pay, and becoming that school will make SFPC the impactful, imaginative, transformative center
      of poetry and justice that we know it can be.

    </p>
  </div>
</section>
</div>
<div class="break"></div> --}}

{{!-- <section id="section-refund" class="">
  <div class="grid-2">
    <h1>What if I can’t go, can I get a refund?</h1>
  </div>

  <div class="grid-2">
    <ul id="expectations-list">
      <li>Yes, we can give you 100% refund up to 14 days before class starts
      <li>50% refund after 14 days, until the first day of the class
      <li>No refunds can be given after the first day of the class, including for payment plans
    </ul>
  </div>
</section> --}}


{{!-- <div class="break"></div> --}}
{{#eq [Session Slug].[0] "spring-22"}}
{{> spring22classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "summer-22"}}
{{> summer22classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "fall-22"}}
{{> fall22classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "winter-23"}}
{{> winter23classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "spring-23"}}
{{> spring23classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "summer-23"}}
{{> summer23classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "fall-23"}}
{{> fall23classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "winter-24"}}
{{> winter24classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "spring-24"}}
{{> spring24classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "summer-24"}}
{{> summer24classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "fall-24"}}
{{> fall24classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "winter-25"}}
{{> winter25classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "spring-25"}}
{{> spring25classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "summer-25"}}
{{> summer25classBlock}}
{{/eq}}
{{#eq [Session Slug].[0] "fall-25"}}
{{> fall25classBlock}}
{{/eq}}


<div class="break-noline"></div>

<section id="section-outro">
  <p tabindex="0" class="large">
    Interested in more learning opportunities at the School for Poetic Computation?
    Join our <a href="/newsletter">newsletter</a> to stay up to date on future sessions
    and events, and
    follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
      href="https://twitter.com/sfpc">Twitter</a>.
    Support our programming through <a href="/donate">scholarships</a>.
    Get in touch over <a href="mailto:info@sfpc.study">email</a>.
  </p>
</section>


<div class="break-endpage"></div>
