<div class="pagebreak">
</div>
<div class="page" id="calendar">
  <div class="line">
    <span class="link-active" id="link-about">[C] Calendar</span>
  </div>
  <marquee style="width: 100vw" scrollamount="15" scrolldelay="0" loop="-1" behavior="scroll">
    <pre>
  ,----..               ,--,
 /   /   \            ,--.'|                              ,---,
|   :     :           |  | :                  ,---,     ,---.'|              __  ,-.
.   |  ;. /           :  : '              ,-+-. /  |    |   | :            ,' ,'/ /|
.   ; /--`   ,--.--.  |  ' |      ,---.  ,--.'|'   |    |   | |   ,--.--.  '  | |' |
;   | ;     /       \ '  | |     /     \|   |  ,"' |  ,--.__| |  /       \ |  |   ,'
|   : |    .--.  .-. ||  | :    /    /  |   | /  | | /   ,'   | .--.  .-. |'  :  /
.   | '___  \__\/: . .'  : |__ .    ' / |   | |  | |.   '  /  |  \__\/: . .|  | '
'   ; : .'| ," .--.; ||  | '.'|'   ;   /|   | |  |/ '   ; |:  |  ," .--.; |;  : |
'   | '/  :/  /  ,.  |;  :    ;'   |  / |   | |--'  |   | '/  ' /  /  ,.  ||  , ;
|   :    /;  :   .'   \  ,   / |   :    |   |/      |   :    :|;  :   .'   \---'
 \   \ .' |  ,     .-./---`-'   \   \  /'---'        \   \  /  |  ,     .-./
  `---`    `--`---'              `----'               `----'    `--`---'
</pre>
  </marquee>

  <pre class="print">
  ,----..               ,--,
 /   /   \            ,--.'|                              ,---,
|   :     :           |  | :                  ,---,     ,---.'|              __  ,-.
.   |  ;. /           :  : '              ,-+-. /  |    |   | :            ,' ,'/ /|
.   ; /--`   ,--.--.  |  ' |      ,---.  ,--.'|'   |    |   | |   ,--.--.  '  | |' |
;   | ;     /       \ '  | |     /     \|   |  ,"' |  ,--.__| |  /       \ |  |   ,'
|   : |    .--.  .-. ||  | :    /    /  |   | /  | | /   ,'   | .--.  .-. |'  :  /
.   | '___  \__\/: . .'  : |__ .    ' / |   | |  | |.   '  /  |  \__\/: . .|  | '
'   ; : .'| ," .--.; ||  | '.'|'   ;   /|   | |  |/ '   ; |:  |  ," .--.; |;  : |
'   | '/  :/  /  ,.  |;  :    ;'   |  / |   | |--'  |   | '/  ' /  /  ,.  ||  , ;
|   :    /;  :   .'   \  ,   / |   :    |   |/      |   :    :|;  :   .'   \---'
 \   \ .' |  ,     .-./---`-'   \   \  /'---'        \   \  /  |  ,     .-./
  `---`    `--`---'              `----'               `----'    `--`---'
</pre>


  <div class="line">
    What's on at ECPC:
  </div>

  {{#each programs}}

  <div class="line indent">
    {{"Day of Week"}}, {{Date.start}}{{#if Date.end}} - {{Date.end}}{{/if}} · {{Time}}
  </div>

  <div class="accordionElement">
    <div class="accordionTitle">
      <div class="img" style="background-image: url('{{Cover}}')"></div><span>{{Name}}</span>
    </div>
    <div class="accordionContent">

      <div class="line indent">
        {{#if futureEvent}}{{{Description}}}{{else}}{{{End-Description}}}{{/if}}
        <BR><BR>

          <!-- {{#if "Photos"}} -->
          {{#each "Photos"}}
          <img src="{{this}}">
          {{/each}}
          <!-- {{else}} -->
          <img src="{{Cover}}">
          <!-- {{/if}} -->



        <div class="clear"></div>
      </div>

      {{#if futureEvent}}<div class="line indent">
        Cost: Free {{#if Donation}}(Suggested donation: ${{Donation}}){{/if}}
      </div>
      {{/if}}

      {{#if futureEvent}}

        {{#if RSVP}}
        <div class="line indent">
          RSVP [<a href="{{RSVP}}" target="_blank">{{RSVP}}</a>]
        </div>
        {{/if}}
      {{else}}
      {{/if}}

      {{#if TeacherNames}}
      <div class="line indent">
        Teacher: {{#each TeacherNames}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
      </div>
      {{/if}}

      {{#if LabTechNames}}
      <div class="line indent">
        Lab Technician: {{#each LabTechNames}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
      </div>
      {{/if}}

      <!--
   <div class="line indent">
     Teacher:
   </div>

   <div class="line indent2">
     Todd anderson is...
   </div>


   <div class="line indent">
     {{#if Teachers}}Assistant Teacher & {{/if}}Lab Technician: {{"Lab Technician"}}
   </div>

   <div class="line indent2">
     Todd anderson is...
   </div> -->

    </div>
  </div>






  {{/each}}

</div>
