<div class="pagebreak">
</div>
<div class="page" id="calendar">
  <div class="line">
    <span class="link-active" id="link-about">[C] Calendar</span>
  </div>
  <marquee style="width: 100vw" scrollamount="15" scrolldelay="0" loop="-1" behavior="scroll">
    <pre>
  ,----..               ,--,
 /   /   \            ,--.'|                              ,---,
|   :     :           |  | :                  ,---,     ,---.'|              __  ,-.
.   |  ;. /           :  : '              ,-+-. /  |    |   | :            ,' ,'/ /|
.   ; /--`   ,--.--.  |  ' |      ,---.  ,--.'|'   |    |   | |   ,--.--.  '  | |' |
;   | ;     /       \ '  | |     /     \|   |  ,"' |  ,--.__| |  /       \ |  |   ,'
|   : |    .--.  .-. ||  | :    /    /  |   | /  | | /   ,'   | .--.  .-. |'  :  /
.   | '___  \__\/: . .'  : |__ .    ' / |   | |  | |.   '  /  |  \__\/: . .|  | '
'   ; : .'| ," .--.; ||  | '.'|'   ;   /|   | |  |/ '   ; |:  |  ," .--.; |;  : |
'   | '/  :/  /  ,.  |;  :    ;'   |  / |   | |--'  |   | '/  ' /  /  ,.  ||  , ;
|   :    /;  :   .'   \  ,   / |   :    |   |/      |   :    :|;  :   .'   \---'
 \   \ .' |  ,     .-./---`-'   \   \  /'---'        \   \  /  |  ,     .-./
  `---`    `--`---'              `----'               `----'    `--`---'
</pre>
  </marquee>

  <pre class="print">
  ,----..               ,--,
 /   /   \            ,--.'|                              ,---,
|   :     :           |  | :                  ,---,     ,---.'|              __  ,-.
.   |  ;. /           :  : '              ,-+-. /  |    |   | :            ,' ,'/ /|
.   ; /--`   ,--.--.  |  ' |      ,---.  ,--.'|'   |    |   | |   ,--.--.  '  | |' |
;   | ;     /       \ '  | |     /     \|   |  ,"' |  ,--.__| |  /       \ |  |   ,'
|   : |    .--.  .-. ||  | :    /    /  |   | /  | | /   ,'   | .--.  .-. |'  :  /
.   | '___  \__\/: . .'  : |__ .    ' / |   | |  | |.   '  /  |  \__\/: . .|  | '
'   ; : .'| ," .--.; ||  | '.'|'   ;   /|   | |  |/ '   ; |:  |  ," .--.; |;  : |
'   | '/  :/  /  ,.  |;  :    ;'   |  / |   | |--'  |   | '/  ' /  /  ,.  ||  , ;
|   :    /;  :   .'   \  ,   / |   :    |   |/      |   :    :|;  :   .'   \---'
 \   \ .' |  ,     .-./---`-'   \   \  /'---'        \   \  /  |  ,     .-./
  `---`    `--`---'              `----'               `----'    `--`---'
</pre>


  <div class="line">
    What's on at ECPC:
  </div>
<!--
 {{#each programs}}

  <div class="line indent">
    {{"Day of Week"}}, {{Date.start}}{{#if Date.end}} - {{Date.end}}{{/if}} · {{Time}}
  </div>

  <div class="accordionElement">
    <div class="accordionTitle">
      <div class="img" style="background-image: url('{{Cover}}')"></div><span>{{Name}}</span>
    </div>
    <div class="accordionContent">

      <div class="line indent">
        {{#if futureEvent}}{{{Description}}}{{else}}{{{End-Description}}}{{/if}}
        <BR><BR>

          <img src="{{Cover}}">



        <div class="clear"></div>
      </div>

      {{#if futureEvent}}<div class="line indent">
        Cost: Free {{#if Donation}}(Suggested donation: ${{Donation}}){{/if}}
      </div>
      {{/if}}

      {{#if futureEvent}}

        {{#if RSVP}}
        <div class="line indent">
          RSVP [<a href="{{RSVP}}" target="_blank">{{RSVP}}</a>]
        </div>
        {{/if}}
      {{else}}
      {{/if}}

      {{#if TeacherNames}}
      <div class="line indent">
        Teacher: {{#each TeacherNames}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
      </div>
      {{/if}}

      {{#if LabTechNames}}
      <div class="line indent">
        Lab Technician: {{#each LabTechNames}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
      </div>
      {{/if}}


    </div>
  </div>






  {{/each}} -->










      <div class="line indent">
        Saturday, July 8, 2023 · 1pm EST (Cohort 1)
    8pm EST (Cohort 2)
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/enp-0.jpg')"></div><span>Experiments in Networked Performance Showcase</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Participants of SFPC's Experiments in Networked Performance performed during an evening of experimental digital performances designed for a live online audience. The event was streamed to Twitch and featured live web interaction alongside the stream.
    <br><br>
    Presenting participants included:
    [1pm Show] Adelle Lin, August Luhrs, Brandon Tong, Brent Bailey, Cece Maravilla, Dan Xu, Eli Muro, Fereshteh Toosi, Halim Lee, Jeeyoon Hyun, Jonathan Thaw, Jules Kris, Justin Roberts, Lauren Wedderburn, Nico Perey, Raphael Koranda, Sara Martinez, Sarah Choukah
    <br><br>
    [8pm show] Amad Ansari, Asha Abel, Charles de Agustin, Coco Ma, Jaiyn X, Kasra Mikaili, Len Predko, Logan gabrielle Schulman, Luna Doherty-Ryoke, Mad Pinney, Maria Fernanda Alves da Silva, Nina Zhong, Noura Zekry, Paloma Rendon Dawkins, Pattaraporn Kittisapkajon, Solomon Leyba, Souha M.Y., Tansy Xiao
    <br><br>
    With support from: Sebastian Morales, Yuguang Zhang

            <br><br>

              <img src="/images/projects/ecpc/eventImages/enp-1.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-2.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-3.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-4.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-5.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-6.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-7.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-8.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-9.jpg">
              <img src="/images/projects/ecpc/eventImages/enp-10.jpg">



            <div class="clear"></div>
          </div>



          <div class="line indent">
            Teacher: Tiri Kananuruk, Todd Anderson
          </div>

          <div class="line indent">
            Lab Technician: Todd Anderson
          </div>


        </div>
      </div>







      <div class="line indent">
        Thursdays &amp; Fridays, July 13, 2023 - August 11, 2023 · 12 - 6pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/open-0.jpg')"></div><span>Open Computer Lab</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Visit the Electronic Cafe for Poetic Computation on Thursdays and Fridays from 12-6pm for weekly Open Computer Lab hours. Bring your own computer or feel free to use any available desktops or laptops—first come, first serve! Lab technicians will be available on site to help troubleshoot computer related issues. Lab hours aren’t only for screen time: Browse the physical library filled with books, zines, and printed ephemera contributed by community members, or bring your own screen free entertainment (board games, puzzles, word searches, etc.) to lounge around in the space with. Come as you are and hang out!
            <br><br>

              <img src="/images/projects/ecpc/eventImages/open-0.jpg">



            <div class="clear"></div>
          </div>




          <div class="line indent">
            Lab Technician: Zainab Aliyu, Todd Anderson, American Artist, Neta Bomani, Melanie Hoff, Galen Macdonald, Celine Wong Katzman, Tyler Yin
          </div>


        </div>
      </div>







      <div class="line indent">
        Saturday, July 22, 2023 · 11am - 2pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/seed-0.jpg')"></div><span>Seeding your own cloud: Hands-on self-and-community-hosting with Jonathan Dahan</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Where does your browser go when visiting a website? What does it talk to? Who owns these computers, and are their interests aligned with yours? In this hands-on workshop, participants set up computers with the ability to host personal home pages, and their own private version of cloud services. We addressed  challenges and benefits of short, medium, and long-term hosting infrastructure and how to get started.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/seed-1.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-2.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-3.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-4.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-5.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-6.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-7.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-8.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-9.jpg">
            <img src="/images/projects/ecpc/eventImages/seed-10.jpg">


            <div class="clear"></div>
          </div>



          <div class="line indent">
            Teacher: Jonathan Dahan
          </div>

          <div class="line indent">
            Lab Technician: Melanie Hoff
          </div>


        </div>
      </div>







      <div class="line indent">
        Saturday, July 29, 2023 · 2 - 5pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/elec-0.jpg')"></div><span>The Basis of Electronic Music thru Sequencing with Dweller Electronics x JWords</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Sequencing is one of the main ways electronic music is composed. Most electronic musical equipment has the ability to sync together through midi to create your own band. Synth, drums, leads, and textures create an electronic song. In this workshop, participants learned how to sequence through a DAW (digital audio workstation) and various musical equipment (drum machines and synths). We explored the possibilities of creativity and the freedom sequencing gives us.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/elec-1.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-2.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-3.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-4.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-5.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-6.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-7.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-8.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-9.jpg">
            <img src="/images/projects/ecpc/eventImages/elec-10.jpg">

            <div class="clear"></div>
          </div>



          <div class="line indent">
            Teacher: JWords
          </div>

          <div class="line indent">
            Lab Technician: Zainab Aliyu
          </div>


        </div>
      </div>







      <div class="line indent">
        Tuesday, August 1, 2023 · 7pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/arena-0.jpg')"></div><span>Are.na Channel Walkthroughs: Internet Cafe Edition</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Channel Walkthroughs is an event series hosted by Are.na, wherein participants share one of their Are.na channels, taking us through their collection of research and patterns of thought, and any new connections that may arise from the assemblage. For the Electronic Cafe for Poetic Computation, Olivia McKayla Ross, Mike Tully, Jo Suk, David Isaac Hecht, and Sharon Park stayed on-theme with their surroundings, presenting on topics like early internet history, community memory, digital knowledge sharing, Mavis Beacon, and projects that reach across both the digital and analog.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/arena-1.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-2.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-3.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-4.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-5.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-6.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-7.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-8.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-9.jpg">
            <img src="/images/projects/ecpc/eventImages/arena-10.jpg">


            <div class="clear"></div>
          </div>




          <div class="line indent">
            Lab Technician: Zainab Aliyu
          </div>


        </div>
      </div>







      <div class="line indent">
        Friday, August 4, 2023 · 7pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/alum-0.jpg')"></div><span>Alumni Night</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            All SFPC alum from all 10 years of SFPC classes and sessions were invited to join us for Alumni Night! There was food and drinks, opportunities to hang and reconnect with friends from past classes, and a small Open Projector (a digital open mic) where alum shared some of what they’ve been up to.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/alum-1.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-2.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-3.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-4.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-5.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-6.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-7.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-8.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-9.jpg">
            <img src="/images/projects/ecpc/eventImages/alum-10.jpg">


            <div class="clear"></div>
          </div>




          <div class="line indent">
            Lab Technician: Todd Anderson
          </div>


        </div>
      </div>







      <div class="line indent">
        Saturday, August 5, 2023 · 11am - 2pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/hand-0.jpg')"></div><span>Hand Coding Round Robin with Emma Rae Bruml Norton</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Participants of this workshop learned how to “hand code” for the web through the creation of collective web pages. The workshop started with a brief lecture on the significance of coding slowly and by hand. Participants learned how to do this kind of coding by example and with care. Equal attention was given to HTML elements, CSS styles, and the content on the page. Through adding and styling the content of each other’s web pages participants learned the basic building blocks of making a website as well as what it feels like to code with and for each other.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/hand-1.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-2.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-3.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-4.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-5.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-6.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-7.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-8.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-9.jpg">
            <img src="/images/projects/ecpc/eventImages/hand-10.jpg">

            <div class="clear"></div>
          </div>



          <div class="line indent">
            Teacher: Emma Rae Bruml Norton
          </div>

          <div class="line indent">
            Lab Technician: Todd Anderson
          </div>


        </div>
      </div>







      <div class="line indent">
        Thursday, August 10, 2023 · 7-8:30pm
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/kit-0.jpg')"></div><span>A Conversation with Kit Galloway</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            The Electronic Cafe for Poetic Computation is inspired by Kit Galloway and Sherrie Rabinowitz’s Electronic Cafe ‘84, a project that transformed informal community venues into a networked cultural organization. We hosted an artist talk by Kit Galloway, followed by a conversation between the artist and SFPC Co-Director Celine Wong Katzman.
            <br><br>

              <img src="/images/projects/ecpc/eventImages/kit-0.jpg">



            <div class="clear"></div>
          </div>




          <div class="line indent">
            Lab Technician: Neta Bomani
          </div>


        </div>
      </div>







      <div class="line indent">
        Saturday, August 12, 2023 · 12 - 6pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/comm-0.jpg')"></div><span>Community Day</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            Community Day was the celebration of Electronic Cafe for Poetic Computation: an internet cafe and classroom where community members and attendees will have participated in a series of workshops and community events exploring creative, inclusive, and liberatory uses of network technology within an abolitionist framework. Visitors hung out in the cafe, brought their own computers and used available desktop or laptop filled with entertainment and digital art installations; browsed the library filled with books, zines, and printed ephemera; checked out our store filled with merch; and brought their own screen free entertainment (board games, puzzles, word searches, etc.) to lounge around in the space alongside beverages and snacks.
    This event featured a listening session and workshop with Dweller Electronics, and we closed out the evening with a DJ set with Dweller too. Dweller Electronics (started in 2019) is an electronic music festival platforming black electronic artists and this is the derivative blog, started in 2020, centering black perspectives.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/comm-1.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-2.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-3.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-4.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-5.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-6.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-7.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-8.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-9.jpg">
            <img src="/images/projects/ecpc/eventImages/comm-10.jpg">

            <div class="clear"></div>
          </div>




          <div class="line indent">
            Lab Technician: Zainab Aliyu, Todd Anderson, American Artist, Neta Bomani, Melanie Hoff, Galen Macdonald, Celine Wong Katzman
          </div>


        </div>
      </div>







      <div class="line indent">
        Saturday, August 12, 2023 · 12:30 - 3:30pm ET
      </div>

      <div class="accordionElement">
        <div class="accordionTitle">
          <div class="img" style="background-image: url('/images/projects/ecpc/eventImages/insp-0.jpg')"></div><span>Inspiration/Transition: Black Electronic Music-Making as Self-Possession with Dweller Electronics</span>
        </div>
        <div class="accordionContent">

          <div class="line indent">
            In this workshop, we surveyed thoughts and expressions surrounding techno's origins and its intergenerational/cultural ambitions as expressed by those who made and articulated a lot of the genre's ideas within and outside the music (liner notes, artwork, interviews, etc.). With respect to the carceral system, we  expanded this conversation into how techno provided marginalized people who were subjected to the historical neglect of mid 20th century Detroit an avenue to express creativity (agency) in a consumerist culture by subverting automation (as shown by the auto industry's dominance in the same city) into self-determination and collective imagination.
            <br><br>

            <img src="/images/projects/ecpc/eventImages/insp-1.jpg">
            <img src="/images/projects/ecpc/eventImages/insp-2.jpg">
            <img src="/images/projects/ecpc/eventImages/insp-3.jpg">
            <img src="/images/projects/ecpc/eventImages/insp-4.jpg">
            <img src="/images/projects/ecpc/eventImages/insp-5.jpg">
            <img src="/images/projects/ecpc/eventImages/insp-6.jpg">


            <div class="clear"></div>
          </div>



          <div class="line indent">
            Teacher: Ryan C. Clarke
          </div>

          <div class="line indent">
            Lab Technician: Neta Bomani
          </div>


        </div>
      </div>




















</div>
