<div class="entity">
  <dt>
    <span class="bio bio-float" style="background-image: url('/images/people/{{dashcase teacher.name}}.jpg')"
      role="img"></span>

    <h4 id="role">teacher</h4>
    <h3>{{teacher.name}} </h3>
    <div class="clear"></div>
  <dd><span class="bio" style="background-image:url('/images/people/{{dashcase teacher.name}}.jpg')" role="img"></span>
    <p>{{teacher.bio}}
      <BR><BR>
      <i>{{teacher.pronouns}}</i>{{#if teacher.website}} · <a target="_blank" href="{{teacher.website}}">website</a>
      {{/if}}{{#if
      teacher.twitter}} · <a target="_blank" href="https://twitter.com/{{teacher.twitter}}">twitter</a> {{/if}}{{#if
      teacher.instagram}} · <a target="_blank" href="https://instagram.com/{{teacher.instagram}}">instagram</a>{{/if}}
    </p>
  </dd>
  </dt>
</div>