<section class="stacked stacked-4">
  <div class="grid-1 featured winter-25 session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/winter-25">session</a></h4>
        <h2 class="title">Winter 2025</h2>
      </div>
      <div class="bottom">
        <h4 class="details">6 classes <span class="dot">·</span> January 12 - March 27, 2025</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">







    <div class="grid-4 featured winter-25 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-25/classes/solidarity-infra/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-25/solidarity-infra">class</a></h4>
          <h2 class="title class">Solidarity Infrastructures</h2>
          <h6>with Meghna Mahadevan, Max Fowler and Olivia McKayla Ross</h6>
        </div>
        <div class="bottom">
          <h4 class="details">Mon 12:30pm ET or Thu 6:30pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>
              {{!-- Applications {{#if applicationsOpen}}open{{else}}closed{{/if}} --}}
          </h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured winter-25 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-25/classes/narrative-constellations/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-25/narrative-constellations">class</a></h4>
          <h2 class="title class">Narrative Constellations</h2>
          <h6>with April Soetarman and Lee Beckwith</h6>
        </div>
        <div class="bottom">
          <h4 class="details">Sun 2:30pm ET or Tue 6:30pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>
              {{!-- Applications {{#if applicationsOpen}}open{{else}}closed{{/if}} --}}
          </h4>
        </div>
      </div>
    </div>



        <div class="grid-4 featured winter-25 session" data-location="">
          <div class="featured-text">
            <img src="/images/sessions/winter-25/classes/data-by-hand/cover.jpg">
            <div class="top">
              <h4 class="type"><a href="/sessions/winter-25/data-by-hand">class</a></h4>
              <h2 class="title class">Drawing Data by Hand</h2>
              <h6>with Meghna Dholakia and Paige Fulton</h6>
            </div>
            <div class="bottom">
              <h4 class="details">Sun 6pm ET or Thu 6pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>
                  {{!-- Applications {{#if applicationsOpen}}open{{else}}closed{{/if}} --}}
              </h4>
            </div>
          </div>
        </div>



    <div class="grid-4 featured winter-25 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-25/classes/gift-interfaces/cover.webp">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-25/gift-interfaces">class</a></h4>
          <h2 class="title class">Gift Interfaces</h2>
          <h6>with Spencer Chang and Elan Ullendorff</h6>
        </div>
        <div class="bottom">
          <h4 class="details">Wed 1pm ET or Wed 7:30pm ET (10 weeks) <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>
              {{!-- Applications {{#if applicationsOpen}}open{{else}}closed{{/if}} --}}
          </h4>
        </div>
      </div>
    </div>





  </div>



    <div class="grid-1 participate">
      <div class="grid-4 featured winter-25 session" data-location="">
        <div class="featured-text">
          <img src="/images/sessions/winter-25/classes/relational/cover.jpg">
          <div class="top">
            <h4 class="type"><a href="/sessions/winter-25/relational">class</a></h4>
            <h2 class="title class">Relational Reconstructions</h2>
            <h6>with Jeffrey Yoo Warren and Dri Chiu Tattersfield</h6>
          </div>
          <div class="bottom">
            <h4 class="details">Wed 7:30pm ET or Fri 8am ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                class="dot">·</span>
                {{!-- Applications {{#if applicationsOpen}}open{{else}}closed{{/if}} --}}
            </h4>
          </div>
        </div>
      </div>
      <div class="grid-4 featured winter-25 session" data-location="">
        <div class="featured-text">
          <img src="/images/sessions/winter-25/classes/browser-game-engine/cover.png">
          <div class="top">
            <h4 class="type"><a href="/sessions/winter-25/browser-game-engine">class</a></h4>
            <h2 class="title class">The Browser is Already a Game Engine</h2>
            <h6>with Everest Pipkin</h6>
          </div>
          <div class="bottom">
            <h4 class="details">Sat 11am ET (10 weeks) <span class="dot">·</span>Online (Zoom) <span
                class="dot">·</span>
                {{!-- Applications {{#if applicationsOpen}}open{{else}}closed{{/if}} --}}
            </h4>
          </div>
        </div>
      </div>
    </div>

</div>

</section>
