<!DOCTYPE html>
<html lang="en">

<head>
    <title>Electronic Cafe for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="Electronic Cafe for Poetic Computation">
    <meta name="description" content="An internet cafe and community hub for technological liberation">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/ecpc">
    <meta property="og:title" content="Electronic Cafe for Poetic Computation">
    <meta property="og:description" content="An internet cafe and community hub for technological liberation">
    <meta property="og:image" content="https://sfpc.study/images/projects/ecpc/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/ecpc">
    <meta property="twitter:title" content="Electronic Cafe for Poetic Computation">
    <meta property="twitter:description" content="An internet cafe and community hub for technological liberation">
    <meta property="twitter:image" content="https://sfpc.study/images/projects/ecpc/meta.jpg">
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
    <link id="mode" rel="stylesheet" type="text/css" href="/css/ecpc.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/projects/ecpc/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>
    <script src="/js/ecpc.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>



    <!-- end stats -->
</head>

<body>

  <div class="terminal" id="terminal">


    <div class="terminal-content">




    <div class="logo-small">
      <img src="/images/projects/ecpc/logo-small.png" class="light">
      <img src="/images/projects/ecpc/logo-small-dark.png" class="dark">
    </div>


<div class="page"  id="home">

<marquee style="width: 100vw"  scrollamount="15" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
##### /    ##   ###            ###
######  /  #####    ###            ###
/#   /  /     #####   ###            ##
/    /  ##     # ##      ##           ##
/  ###     #         ##           ##
##   ##     #         ##    /##    ##      /###      /###   ### /### /###     /##
##   ##     #         ##   / ###   ##     / ###  /  / ###  / ##/ ###/ /##  / / ###
##   ##     #         ##  /   ###  ##    /   ###/  /   ###/   ##  ###/ ###/ /   ###
##   ##     #         ## ##    ### ##   ##        ##    ##    ##   ##   ## ##    ###
##   ##     #         ## ########  ##   ##        ##    ##    ##   ##   ## ########
##  ##     #         ## #######   ##   ##        ##    ##    ##   ##   ## #######
## #      #         /  ##        ##   ##        ##    ##    ##   ##   ## ##
###      /##      /   ####    / ##   ###     / ##    ##    ##   ##   ## ####    /
#######/ #######/     ######/  ### / ######/   ######     ###  ###  ### ######/
####     ####        #####    ##/   #####     ####       ###  ###  ### #####
</pre>
</marquee>

<pre class="print">
##### /    ##   ###            ###
######  /  #####    ###            ###
/#   /  /     #####   ###            ##
/    /  ##     # ##      ##           ##
/  ###     #         ##           ##
##   ##     #         ##    /##    ##      /###      /###   ### /### /###     /##
##   ##     #         ##   / ###   ##     / ###  /  / ###  / ##/ ###/ /##  / / ###
##   ##     #         ##  /   ###  ##    /   ###/  /   ###/   ##  ###/ ###/ /   ###
##   ##     #         ## ##    ### ##   ##        ##    ##    ##   ##   ## ##    ###
##   ##     #         ## ########  ##   ##        ##    ##    ##   ##   ## ########
##  ##     #         ## #######   ##   ##        ##    ##    ##   ##   ## #######
## #      #         /  ##        ##   ##        ##    ##    ##   ##   ## ##
###      /##      /   ####    / ##   ###     / ##    ##    ##   ##   ## ####    /
#######/ #######/     ######/  ### / ######/   ######     ###  ###  ### ######/
####     ####        #####    ##/   #####     ####       ###  ###  ### #####
</pre>

          <div class="line"> Hello<span class="visitor"> guest</span>,</div>

          <div class="line indent">
            Welcome to Electronic Cafe for Poetic Computation: an internet cafe and community hub for technological liberation!
            <!-- <span class="link" id="link-about">[A] About</span> -->
          </div>

          <div class="line indent datetime">
            Today is <span id="date"></span>. We are <span class="closedPre">currently </span><span class="status closed"></span>.
            <!-- <span class="openPost"> from 12 to 6pm ET</span>. -->
            <!-- <span class="link" id="link-visit">[V] Visit</span> -->
          </div>

          <!-- <div class="line indent datetime">
            Our website and programs are launching soon!
            Follow us on Instagram [<a href="https://www.instagram.com/sfpc_nyc/" target="_blank">@sfpc_nyc</a>] and Twitter [<a href="https://twitter.com/sfpc" target="_blank">@sfpc</a>], or
            join our newsletter [<a href="https://sfpc.study/newsletter" target="_blank">https://sfpc.study/newsletter</a>],
           to be notified.
          </div> -->

    {{#each happenings}}
    <div class="line indent happening">
      HAPPENING SOON: "{{Name}}" on {{"Day of Week"}}, {{Date.start}}{{#if Date.end}} - {{Date.end}}{{/if}} · {{Time}}. RSVP [<a href="{{RSVP}}" target="_blank">{{RSVP}}</a>]
      <span class="link link-calendar">[C] Calendar</span>
    </div>
    {{/each}}





<div class="hide-content">
<div id="content-about">
  {{> ECPCabout}}
</div>
<div id="content-aboutCredits">
  {{> ECPCaboutCredits}}
</div>
<div id="content-aboutContact">
  {{> ECPCaboutContact}}
</div>
<div id="content-calendar">
  {{> ECPCcalendar}}
</div>
<div id="content-visit">
  {{> ECPCvisit}}
</div>
<div id="content-visitAccess">
  {{> ECPCvisitAccess}}
</div>
<div id="content-visitCovid">
  {{> ECPCvisitCovid}}
</div>
<div id="content-visitTech">
  {{> ECPCvisitTech}}
</div>
<div id="content-visitLibrary">
  {{> ECPCvisitLibrary}}
</div>
<div id="content-visitStore">
  {{> ECPCvisitStore}}
</div>
<div id="content-guestbook">
  {{> ECPCguestbook}}
</div>
<div id="content-help">
  {{> ECPChelp}}
</div>
<div id="content-print">
  {{> ECPCprint}}
</div>
</div>

</div>



</div>

<div class="pagebreak">
</div>
    <div class="info">
        <div class="line">
        Located @Recess<BR>
        46 Washington Ave,  <BR>
        Brooklyn, NY 11238
        </div>
        <div class="line">
        Open Thursdays to
        Saturdays, <BR>
        12 - 6pm, <BR>
        Jul 8 - Aug 12, 2023
        </div>

        <div class="line">
        Electronic Cafe for Poetic Computation [<a href="https://sfpc.study/ecpc">https://sfpc.study/ecpc</a>] is a project
        by <BR>the School for Poetic Computation [<a href="https://sfpc.study/">https://sfpc.study/</a>].
        </div>

        <div class="logo-big">
          <img src="/images/projects/ecpc/logo-big.png" class="light">
          <img src="/images/projects/ecpc/logo-big-dark.png" class="dark">
        </div>
      </div>




</div>




<div class="sidebar">
  <div class="menu">
    <!-- MAIN MENU -->
      <span class="link link-about">[A] About</span>
      <span class="link link-calendar">[C] Calendar</span>
      <span class="link link-visit">[V] Visit</span>
      <span class="link link-guestbook">[G] Guestbook</span>
      <span class="link link-help">[H] Help</span>
      <span class="link link-print">[P] Print</span>
      <!-- <span class="logout">Logged in as medium_coolaid. <a href="https://sfpc.study/ecpc/login">Log out</a></span> -->

  </div>

  <div class="info">
    <div class="">
      <div class="line">
      Located @Recess<BR>
      46 Washington Ave,  <BR>
      Brooklyn, NY 11205
      </div>
      <div class="line">
      Open Thursdays to
      Saturdays, <BR>
      12 - 6pm ET, <BR>
      Jul 8 - Aug 12, 2023
      </div>
    </div>

  <div class="big-logo">
    <img src="/images/projects/ecpc/logo-big.png">
  </div>
  </div>
</div>

</body>
