<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <!-- end stats -->
</head>


<body>
  {{> header}}
  {{> footer}}
  <div class="crt-overlay crt-overlay-fullsize"></div>



  <div id="shell" class="shell shell-fullsize about blog sfpc">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>

    <h4 class="breadcrumb  hide-content"><a href="/blog">blog</a></h4>


    <div id="blog" class="shell-content hide-content">
      <section id="section-description">
        <div class="grid-2">

          <!-- <h4 class="bymeta">
            {{[Publish-Date].start}}{{#if Website-Session}}{{#if Website-Session}}<a href="{{this.[Session-External-Website]}}">{{else}}<a href="{{[Session-Slug]}}">{{/if}}
                <span class="blog-tag"> <span id="tag" class="{{[Session-Slug]}}">{{[Website-Session]}} </span> </span></a>
                  {{/if}}
          </h4> -->

          <h1 class="title">{{title}} </h1>

          <h6 class="byline">
            written by {{#each this.[Website-Authors]}}{{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}} {{/each}}

          </h6>

          <div class="break-noline"></div>

        </div>

        <div class="grid-2 blog-post blog-content">

          <!-- <div class="class-details">

            <div class="details">
              <div class="labels">Published on</div>
              <div class="labels-info">{{[Publish-Date].start}}</div>
            </div>

            <div class="details">
              <div class="labels">Written By</div>
              <div class="labels-info">
                {{#each [Website-Authors]}}{{this}}{{#unless @last}},{{/unless}} {{/each}}

              </div>
            </div>

            {{#if Website-Session}}
            <div class="details">
              <div class="labels">Program</div>
              <div class="labels-info" id="teachers-list">

                {{#if Website-Class}}
                {{#each Website-Class}}{{this}}{{#unless @last}}, {{/unless}} {{/each}} {{/if}}

                {{#if Website-Class}}— {{/if}}{{#each Website-Session}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}

              </div>
            </div>
            {{/if}}

          </div>

          <div class="break-noline"></div> -->




          <h4 class="">
            {{[Publish-Date].start}}{{#if [Session-External-Website]}}{{#if [Session-External-Website]}}<a href="{{this.[Session-External-Website]}}">{{else}}<a href="{{[Session-Slug]}}">{{/if}}<span class="blog-tag"><span id="tag" class="{{[Session-Slug]}}">{{[Website-Session]}}</span></span></a>
                  {{/if}}
          </h4>



          <!-- <h6>
            written by {{#each this.[Website-Authors]}}{{this}}{{#if @last}}{{else}}<i class="comma">,</i> {{/if}} {{/each}}



          </h6> -->

          <div class="break-noline-small"></div>

          {{{postHTML}}}




        </div>
      </section>
      <div class="break-endpage"></div>

<!--

      {{#if Website-Author-Names}}
      <div class="break"></div>

      <section id="section-description">
        <div class="grid-2">
          <h1>Meet the Authors</h1>
        </div>
        <div class="grid-2">

          {{#each Website-Authors}}
         {{this}}

         {{>personCard person=this}}
       {{Website-Author-Bios}}

         {{#unless @last}}, {{/unless}}

          <div class="entity">
            <dt>
              <span class="bio bio-float" style="background-image: url('{{person.Image.[0]}}')" role="img"></span>

              <h4 id="role">{{person.role}}</h4>
              <h3>{{person.Name}} </h3>
              <div class="clear"></div>
            <dd><span class="bio" style="background-image:url('{{person.Image.[0]}}')" role="img"></span>
              <p>{{Website-Author-Bios}}
                <BR><BR>
                {{#if person.Pronouns}}<i>{{person.Pronouns}}</i>  {{/if}}
                {{#if person.Website}} · <a target="_blank" href="{{person.Website}}">website</a>
                {{/if}}{{#if
                person.Twitter}} · <a target="_blank" href="https://twitter.com/{{person.Twitter}}">twitter</a>
                {{/if}}{{#if
                person.Instagram}} · <a target="_blank" href="https://instagram.com/{{person.Instagram}}">instagram</a>{{/if}}
              </p>
            </dd>
            </dt>
          </div>



          {{/each}} {{/if}} -->

        </div>



      </section>



    </div>



    <!-- <div class="break-endpage"></div> -->





  </div>










  <script src="/outside.js"></script>
  <script src="/carousel.js"></script>
  <script src="/closed.js"></script>

</body>

</html>
